Repository mach3-software/MaCh3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kskwarczynski, @henry-wallace-phys, @edatkin, @dbarrow257, @ewanwm, @pjdunne, @akaboth

.github/CODEOWNERS:

# This file annotates code ownership within MaCh3.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Inspired by ROOT
#   - https://github.com/root-project/root/blob/master/.github/CODEOWNERS

* @kskwarczynski

/cmake/* @kskwarczynski
**/CMakeLists.txt @kskwarczynski

/Doc/* @kskwarczynski
/.github/* @kskwarczynski
*.cu @kskwarczynski
*.cuh @kskwarczynski

/covariance/AdaptiveMCMCHandler* @henry-wallace-phys
/mcmc/* @kskwarczynski

/samplePDF/samplePDFFDBase* @edatkin @dbarrow257
/splines/splineFDBase* @edatkin @dbarrow257

/plotting/* @ewanwm
*.py @henry-wallace-phys @ewanwm
py* @henry-wallace-phys @ewanwm

README.md @kskwarczynski @edatkin
CONTRIBUTING.md @kskwarczynski @edatkin
.mailmap @kskwarczynski @edatkin

LICENSE.txt @pjdunne @akaboth
.zenodo.json @pjdunne @akaboth

Initial implementation of functional parameters for DUNE.
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
  mcmc/mcmc.cpp
  samplePDF/Structs.h
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

Removed Adaptive MCMC check, I'm not sure if this factory actually gets called but it's needed to have all the AMCMC stuff in a separate binary.
  mcmc/MaCh3Factory.h
Owners: @kskwarczynski

again, some minor changes to remove SampleID naming to just be SampleName
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  covariance/covarianceOsc.cpp
  covariance/covarianceOsc.h
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
Owners: @kskwarczynski

adding in GetName function and fixing problem in the spline loading where the SampleTitle was passed rather than the SampleName
  covariance/covarianceBase.cpp
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

Fix CircularPrior logic
  covariance/covarianceOsc.cpp
Owners: @kskwarczynski

Implementation of functional parameters for core.
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
  samplePDF/Structs.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

modify sigma at a config level rather than hard coding
  mcmc/mcmc.cpp
  mcmc/mcmc.h
Owners: @kskwarczynski

Add number of points and user set range options for 2D likelihoods
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Override EqualBinning setting when not using binnedosc
  samplePDF/samplePDFFDBase.cpp
Owners: @edatkin, @dbarrow257

Adding a warning
  samplePDF/samplePDFFDBase.cpp
Owners: @edatkin, @dbarrow257

Restored PrepFunctionalParameters() and fixed how the parameter value pointers are treated.
  covariance/covarianceXsec.cpp
  samplePDF/Structs.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

fix the index of sample histograms
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Fixed a typo to make CUDA work properly
  CMakeLists.txt
Owners: @kskwarczynski

stop using espline eval for flatness check
  splines/splineFDBase.cpp
Owners: @edatkin, @dbarrow257

modify loop ordering in get likelihood for better cache hits
  CMakeLists.txt
  Doc/Doxyfile
  samplePDF/samplePDFFDBase.cpp
Owners: @kskwarczynski, @edatkin, @dbarrow257

Update NuOscillatorSetup.cmake
  cmake/Modules/NuOscillatorSetup.cmake
Owners: @kskwarczynski

bump
  CMakeLists.txt
Owners: @kskwarczynski

bump
  Doc/Doxyfile
Owners: @kskwarczynski

SampleName[Sample] might not be initialized
  samplePDF/samplePDFBase.cpp
Owners: @kskwarczynski

Bump version number in perperation for new tag and release
  CMakeLists.txt
Owners: @kskwarczynski

Move the warning to keep track of all sample names set
  samplePDF/samplePDFBase.cpp
Owners: @kskwarczynski

cherry pick some features
  CMakeLists.txt
  Doc/Doxyfile
  cmake/Modules/NuOscillatorSetup.cmake
  mcmc/FitterBase.cpp
  samplePDF/samplePDFFDBase.cpp
  splines/splineFDBase.cpp
Owners: @kskwarczynski, @edatkin, @dbarrow257

throw if SampleName[Sample] not initialized
  samplePDF/samplePDFBase.cpp
Owners: @kskwarczynski

fix the sample index
  samplePDF/samplePDFBase.cpp
Owners: @kskwarczynski

haven't noticed the method renaming(?)
  samplePDF/samplePDFBase.cpp
Owners: @kskwarczynski

and of course the unsignedness
  samplePDF/samplePDFBase.cpp
Owners: @kskwarczynski

Removing SampleName vector in base class and making GetSampleName function a pure virtual function
  samplePDF/samplePDFBase.cpp
  samplePDF/samplePDFBase.h
Owners: @kskwarczynski

Changing GetName in samplePDFFDBase to be GetSampleName and override the pure virtual function in samplePDFBase. Adding an explicit check on the length of SampleName in that function as well.
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @edatkin, @dbarrow257

adding some more comments and making the return a const
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

adding in a trampoline that was now missing for the python build
  python/samplePDF.cpp
Owners: @henry-wallace-phys, @ewanwm

Slight update to LLHScan to customise n_sigma in yaml file.
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Functional parameter stuff.
  covariance/covarianceXsec.cpp
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

Cherry-picked my functional parameter commit 115b6ff745da9f304a501aa3967fe9f4e2f76813 to this branch.
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @edatkin, @dbarrow257

Changing treatment of value pointers in line with hhua/feature/functional_params.
  covariance/covarianceXsec.cpp
  samplePDF/Structs.h
  samplePDF/samplePDFFDBase.cpp
Owners: @kskwarczynski, @edatkin, @dbarrow257

Fixed the bug of AdaptiveHandler.total_steps staying at 0 if AdaptionStartStep was larger than 0.
  covariance/covarianceBase.cpp
Owners: @kskwarczynski

Added -mno-avx as a debugging flag so callgrind can be used for profiling.
  CMakeLists.txt
Owners: @kskwarczynski

Updated implementation of functional paramters to replace maps with vectors for speed.
  samplePDF/Structs.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

Moved FuncPars before cherry-picking.
  samplePDF/Structs.h
Owners: @kskwarczynski

Cherry-picked 281639f069dd0c63aaa2ddaa4b9bbf7915828ce0: Changing treatment of value pointers in line with hhua/feature/functional_params.
  samplePDF/Structs.h
Owners: @kskwarczynski

Cherry-picked 9f35ea5cfe6ff11ec0c73455a0dab67e7be30b1e: Updated implementation of functional paramters to replace maps with vectors for speed.
  samplePDF/Structs.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257
