Repository mach3-software/MaCh3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kskwarczynski, @henry-wallace-phys, @edatkin, @dbarrow257, @ewanwm, @pjdunne, @akaboth

Setting special param ranges via config for LLH scan now works!
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Minor logger update
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

setting the tutorial branch to feature/OrganiseLLHScanSettings for CI to work. needs reverting
  .github/workflows/Benchmark.yml
  .github/workflows/CIValidations.yml
Owners: @kskwarczynski

Add ref to OscPrbo, thanks Dan
  README.md
Owners: @kskwarczynski, @edatkin

Add cmake option to be able to pass which NuOsc branch to build against
  cmake/Modules/NuOscillatorSetup.cmake
Owners: @kskwarczynski

Remove hackz in github actions
  .github/workflows/Benchmark.yml
  .github/workflows/CIValidations.yml
Owners: @kskwarczynski

initial working mcm penalty (very slow don't know why)
  mcmc/mcmc.cpp
  mcmc/mcmc.h
Owners: @kskwarczynski

fix typo in name and make more scalable test statistic selection
  manager/manager.cpp
  mcmc/StatisticalUtils.cpp
  samplePDF/Structs.h
  samplePDF/samplePDFBase.cpp
Owners: @kskwarczynski

as usual forgot about python
  python/samplePDF.cpp
Owners: @henry-wallace-phys, @ewanwm

Do not link gomp when usng clang, cheers Henry for being guinea pig
  CMakeLists.txt
Owners: @kskwarczynski

inline GetMulticanonicalWeight and move calculation outside of systematics loop
  mcmc/mcmc.cpp
  mcmc/mcmc.h
Owners: @kskwarczynski

testing clang bot
  .github/workflows/CIBuild.yml
  Doc/MaCh3DockerFiles/Ubuntu24.10/Dockerfile
  README.md
Owners: @kskwarczynski, @edatkin

update docker to proeplry include omp
  Doc/MaCh3DockerFiles/Ubuntu24.10/Dockerfile
Owners: @kskwarczynski

Filling param and knots array.
  splines/SplineMonolith.cpp
Owners: @kskwarczynski

Bump to NuOsc v1.2.1, include NuSQUIDSLinear support, USE_NuFastLiner->USE_NuFastLinear
  cmake/Modules/NuOscillatorSetup.cmake
Owners: @kskwarczynski

Allow CUDAProb3Linear to use GPU, add NuSQUIDS to README
  README.md
  cmake/Modules/NuOscillatorSetup.cmake
Owners: @kskwarczynski, @edatkin

trying now
  Doc/MaCh3DockerFiles/Ubuntu24.10/Dockerfile
Owners: @kskwarczynski

update
  .github/workflows/CIBuild.yml
Owners: @kskwarczynski

:(
  Doc/MaCh3DockerFiles/Ubuntu24.10/Dockerfile
Owners: @kskwarczynski

:(
  .github/workflows/CIBuild.yml
Owners: @kskwarczynski

:(
  Doc/MaCh3DockerFiles/Ubuntu24.10/Dockerfile
Owners: @kskwarczynski

:(
  Doc/MaCh3DockerFiles/Ubuntu24.10/Dockerfile
Owners: @kskwarczynski

Update samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.cpp
Owners: @edatkin, @dbarrow257

Add SplineSuffix to MaCh3Modes object
  manager/MaCh3Modes.cpp
  manager/MaCh3Modes.h
Owners: @kskwarczynski

Remove StripDuplicatedSpline
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Owners: @edatkin, @dbarrow257

Move most of splineSKBase into splineFDBase
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Owners: @edatkin, @dbarrow257

Temp hackz to workflows to use Tutorial branches
  .github/workflows/Benchmark.yml
  .github/workflows/CIValidations.yml
Owners: @kskwarczynski

Temp hackz to workflows to use Tutorial branches -2
  .github/workflows/Benchmark.yml
  .github/workflows/CIValidations.yml
Owners: @kskwarczynski

Remove unneeded changes
  splines/splineFDBase.cpp
Owners: @edatkin, @dbarrow257

minor tidy of terrible spline FD class
  samplePDF/samplePDFFDBase.cpp
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Owners: @edatkin, @dbarrow257

Add SplineSuffix to MaCh3Modes object
  manager/MaCh3Modes.cpp
  manager/MaCh3Modes.h
Owners: @kskwarczynski

Move getEventSplines to splineFDBase
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Owners: @edatkin, @dbarrow257

Move StripDuplicatedModes to splineFDBase
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Owners: @edatkin, @dbarrow257

Use kBlack as default colour, fix minor mistake in MaCh3 mode
  covariance/covarianceBase.cpp
  manager/MaCh3Modes.cpp
  manager/MaCh3Modes.h
Owners: @kskwarczynski

Deploying to gh-pages from @ mach3-software/MaCh3@fdae302d077d24d3c9b1f00fa3b4a0212277fb32 🚀
  FitterBase_8cpp_source.html
  MaCh3Modes_8cpp_source.html
  MaCh3Modes_8h_source.html
  SampleSummary_8cpp_source.html
  SampleSummary_8h_source.html
  classFitterBase.html
  classMaCh3Modes.html
  classSampleSummary.html
  classcovarianceBase.html
  classcovarianceOsc.html
  classcovarianceXsec.html
  classsamplePDFFDBase.html
  covarianceBase_8cpp_source.html
  covarianceBase_8h_source.html
  covarianceOsc_8cpp_source.html
  covarianceXsec_8cpp_source.html
  covariance_8cpp.html
  covariance_8cpp_source.html
  group__Setters.html
  pyMaCh3_8cpp.html
  samplePDFBase_8h_source.html
  samplePDFFDBase_8cpp_source.html
  splineFDBase_8cpp_source.html
  splineFDBase_8h_source.html
Owners: @kskwarczynski, @henry-wallace-phys, @ewanwm

Move FillSampleArray to splineFDBase
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Owners: @edatkin, @dbarrow257

deploy: fdae302d077d24d3c9b1f00fa3b4a0212277fb32
  FitterBase_8cpp_source.html
  MaCh3Modes_8cpp_source.html
  MaCh3Modes_8h_source.html
  SampleSummary_8cpp_source.html
  SampleSummary_8h_source.html
  classFitterBase.html
  classMaCh3Modes.html
  classSampleSummary.html
  classcovarianceBase.html
  classcovarianceOsc.html
  classcovarianceXsec.html
  classsamplePDFFDBase.html
  covarianceBase_8cpp_source.html
  covarianceBase_8h_source.html
  covarianceOsc_8cpp_source.html
  covarianceXsec_8cpp_source.html
  covariance_8cpp.html
  covariance_8cpp_source.html
  group__Setters.html
  pyMaCh3_8cpp.html
  samplePDFBase_8h_source.html
  samplePDFFDBase_8cpp_source.html
  splineFDBase_8cpp_source.html
  splineFDBase_8h_source.html
Owners: @kskwarczynski, @henry-wallace-phys, @ewanwm

bump
  CMakeLists.txt
  Doc/Doxyfile
Owners: @kskwarczynski

Cleanup last functions, include SplineInterType
  splines/splineFDBase.cpp
Owners: @edatkin, @dbarrow257

Address Kamil's comments
  splines/splineFDBase.cpp
Owners: @edatkin, @dbarrow257

.github/CODEOWNERS:

# This file annotates code ownership within MaCh3.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Inspired by ROOT
#   - https://github.com/root-project/root/blob/master/.github/CODEOWNERS

* @kskwarczynski

/cmake/* @kskwarczynski
**/CMakeLists.txt @kskwarczynski

/Doc/* @kskwarczynski
/.github/* @kskwarczynski
*.cu @kskwarczynski
*.cuh @kskwarczynski

/covariance/AdaptiveMCMCHandler* @henry-wallace-phys
/mcmc/* @kskwarczynski

/samplePDF/samplePDFFDBase* @edatkin @dbarrow257
/splines/splineFDBase* @edatkin @dbarrow257

/plotting/* @ewanwm
*.py @henry-wallace-phys @ewanwm
py* @henry-wallace-phys @ewanwm

README.md @kskwarczynski @edatkin
CONTRIBUTING.md @kskwarczynski @edatkin
.mailmap @kskwarczynski @edatkin

LICENSE.txt @pjdunne @akaboth
.zenodo.json @pjdunne @akaboth
