Repository mach3-software/MaCh3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kskwarczynski, @henry-wallace-phys, @edatkin, @dbarrow257, @ewanwm, @pjdunne, @akaboth

.github/CODEOWNERS:

# This file annotates code ownership within MaCh3.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Inspired by ROOT
#   - https://github.com/root-project/root/blob/master/.github/CODEOWNERS

* @kskwarczynski

/cmake/* @kskwarczynski
**/CMakeLists.txt @kskwarczynski

/Doc/* @kskwarczynski
/.github/* @kskwarczynski
*.cu @kskwarczynski
*.cuh @kskwarczynski

/covariance/AdaptiveMCMCHandler* @henry-wallace-phys
/mcmc/* @kskwarczynski

/samplePDF/samplePDFFDBase* @edatkin @dbarrow257
/splines/splineFDBase* @edatkin @dbarrow257

/plotting/* @ewanwm
*.py @henry-wallace-phys @ewanwm
py* @henry-wallace-phys @ewanwm

README.md @kskwarczynski @edatkin
CONTRIBUTING.md @kskwarczynski @edatkin
.mailmap @kskwarczynski @edatkin

LICENSE.txt @pjdunne @akaboth
.zenodo.json @pjdunne @akaboth

Fix error
  splines/splineFDBase.cpp
Owners: @edatkin, @dbarrow257

Fix check on MaCh3Modes in splineFDBase constructor
  splines/splineFDBase.cpp
Owners: @edatkin, @dbarrow257

minor tidy and using more modern tools
  CMakeLists.txt
  Doc/Doxyfile
  samplePDF/Structs.h
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

not sure why was deleted
  splines/splineFDBase.cpp
Owners: @edatkin, @dbarrow257

It was impossible to read code on git
  splines/splineFDBase.h
Owners: @edatkin, @dbarrow257

renameing splineFDBase to BinnedSplineHandler
  samplePDF/samplePDFFDBase.h
  splines/BinnedSplineHandler.cpp
  splines/BinnedSplineHandler.h
  splines/CMakeLists.txt
Owners: @edatkin, @dbarrow257, @kskwarczynski

renaming samplePDFFDBase to SampleHandlerFD
  samplePDF/CMakeLists.txt
  samplePDF/SampleHandlerFD.cpp
  samplePDF/SampleHandlerFD.h
Owners: @kskwarczynski

renaming covarianceXsec to SystematicHandlerGeneric
  covariance/CMakeLists.txt
  covariance/SystematicHandlerGeneric.cpp
  covariance/SystematicHandlerGeneric.h
  mcmc/MaCh3Factory.h
  samplePDF/SampleHandlerFD.cpp
  samplePDF/SampleHandlerFD.h
  splines/BinnedSplineHandler.cpp
  splines/BinnedSplineHandler.h
  splines/SplineStructs.h
Owners: @kskwarczynski

renaming covarianceBase to ParameterHandlerBase
  covariance/ParameterHandlerBase.cpp
  covariance/ParameterHandlerBase.h
  covariance/SystematicHandlerGeneric.cpp
  covariance/SystematicHandlerGeneric.h
  covariance/covarianceOsc.cpp
  covariance/covarianceOsc.h
  mcmc/FitterBase.cpp
  mcmc/FitterBase.h
  mcmc/LikelihoodFit.cpp
  mcmc/MinuitFit.cpp
  mcmc/PSO.cpp
  mcmc/mcmc.cpp
Owners: @kskwarczynski

Add counter for CC modes in MaCh3Modes object
  manager/MaCh3Modes.cpp
  manager/MaCh3Modes.h
Owners: @kskwarczynski

Add protection against duplicate splines in splineFDBase
  splines/splineFDBase.cpp
Owners: @edatkin, @dbarrow257

Speedup the duplicate spline checking
  splines/splineFDBase.cpp
Owners: @edatkin, @dbarrow257

Add option for FillSampleArray to be overridden by derived object if needed
  splines/splineFDBase.h
Owners: @edatkin, @dbarrow257

Renaming covarianceOsc to ParameterHandlerOsc
  covariance/CMakeLists.txt
  covariance/ParameterHandlerBase.cpp
  covariance/ParameterHandlerOsc.cpp
  covariance/ParameterHandlerOsc.h
  covariance/SystematicHandlerGeneric.h
  mcmc/FitterBase.h
  mcmc/MaCh3Factory.h
  samplePDF/SampleHandlerFD.cpp
  samplePDF/SampleHandlerFD.h
Owners: @kskwarczynski

renaming samplePDFBase to SampleHandlerBase
  covariance/ParameterHandlerOsc.cpp
  mcmc/FitterBase.cpp
  mcmc/FitterBase.h
  mcmc/SampleSummary.cpp
  mcmc/SampleSummary.h
  samplePDF/CMakeLists.txt
  samplePDF/SampleHandlerBase.cpp
  samplePDF/SampleHandlerBase.h
  samplePDF/SampleHandlerFD.cpp
  samplePDF/SampleHandlerFD.h
Owners: @kskwarczynski

Cast TH2* to TH1* in PrintIntegral
  samplePDF/samplePDFFDBase.cpp
Owners: @edatkin, @dbarrow257

Add to CI new plotting tool in tutorial
  .github/workflows/CIValidations.yml
Owners: @kskwarczynski

found less hacky way of casting vectors so use it to have more streamlined code
  samplePDF/HistogramUtils.h
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
  splines/splineFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

For now use raw pointers to avoid breaking changes
  samplePDF/samplePDFBase.cpp
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.cpp
Owners: @kskwarczynski, @edatkin, @dbarrow257

Fix LLHScanSkipVector yaml node group inside sigma variation function
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Commit before starting work on DUNE detsys.
  .gitignore
  covariance/covarianceBase.cpp
Owners: @kskwarczynski

Use new Sigma Var bot and bump versions
  .github/workflows/CIValidations.yml
  CMakeLists.txt
  Doc/Doxyfile
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

fixing error from shadow where there is an earlier declarition of isxsec
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Renaming SampleHandler folder to Samples
  CMakeLists.txt
  Diagnostics/CombineMaCh3Chains.cpp
  Diagnostics/GetPenaltyTerm.cpp
  Diagnostics/PlotMCMCDiag.cpp
  Diagnostics/RHat.cpp
  Diagnostics/RHat_HighMem.cpp
  ParameterHandler/ParameterHandlerGeneric.cpp
  ParameterHandler/ParameterHandlerGeneric.h
  ParameterHandler/ParameterHandlerUtils.h
  SampleHandler/CMakeLists.txt
  SampleHandler/samplePDFFDBase.h
  Samples/CMakeLists.txt
  Samples/FarDetectorCoreInfoStruct.h
  Samples/HistogramUtils.cpp
  Samples/HistogramUtils.h
  Samples/SampleHandlerBase.cpp
  Samples/SampleHandlerBase.h
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
  Samples/Structs.h
  manager/manager.h
  mcmc/CMakeLists.txt
  mcmc/FitterBase.h
  mcmc/MCMCProcessor.h
  mcmc/OscProcessor.h
  mcmc/SampleSummary.h
  mcmc/StatisticalUtils.h
  plotting/GetPostfitParamPlots.cpp
  plotting/plottingUtils/inputManager.h
  splines/BinnedSplineHandler.h
  splines/SplineStructs.h
Owners: @kskwarczynski, @ewanwm

changing mcmc folder name to Fitter
  CMakeLists.txt
  Diagnostics/DiagMCMC.cpp
  Diagnostics/PlotMCMCDiag.cpp
  Diagnostics/ProcessMCMC.cpp
  Fitter/CMakeLists.txt
  Fitter/FitterBase.cpp
  Fitter/FitterBase.h
  Fitter/LikelihoodFit.cpp
  Fitter/LikelihoodFit.h
  Fitter/MCMCProcessor.cpp
  Fitter/MCMCProcessor.h
  Fitter/MaCh3Factory.cpp
  Fitter/MaCh3Factory.h
  Fitter/MinuitFit.cpp
  Fitter/MinuitFit.h
  Fitter/OscProcessor.cpp
  Fitter/OscProcessor.h
  Fitter/PSO.cpp
  Fitter/PSO.h
  Fitter/SampleSummary.cpp
  Fitter/SampleSummary.h
  Fitter/StatisticalUtils.cpp
  Fitter/StatisticalUtils.h
  Fitter/gpuMCMCProcessorUtils.cu
  Fitter/gpuMCMCProcessorUtils.cuh
  Fitter/mcmc.cpp
  Fitter/mcmc.h
  SKEventRatesReferenceAllsystsPrintWeightFHC1Rmu1PiOnlySplineInterpFix.txt
  plotting/plottingUtils/CMakeLists.txt
  plotting/plottingUtils/inputManager.h
Owners: @kskwarczynski

forgot to change include path
  Fitter/CMakeLists.txt
Owners: @kskwarczynski

adding in ignore for a file type that clangd makes
  .gitignore
Owners: @kskwarczynski

Stop the spammy message for additional splines
  splines/splineFDBase.cpp
Owners: @edatkin, @dbarrow257

Bump NuOsc version
  cmake/Modules/NuOscillatorSetup.cmake
Owners: @kskwarczynski

minor changes to the DetID treatment to take the SampleName instead and adding in a SampleTitle for nice plotting titles
  mcmc/FitterBase.cpp
  mcmc/MaCh3Factory.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

making changes to use SampleName as the detector identification method rather than a seperate DetID field. I've also added a SampleTitle field for plotting
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  covariance/covarianceOsc.cpp
  covariance/covarianceOsc.h
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.cpp
  splines/splineFDBase.cpp
Owners: @kskwarczynski, @edatkin, @dbarrow257

Bugfix in GetEventSplines to convert Mode to the duplicate-stripped mode
  splines/splineFDBase.cpp
Owners: @edatkin, @dbarrow257

Bump version to 1.4.7
  CMakeLists.txt
Owners: @kskwarczynski

removing DetID completely and using Sample name instead. _fDetID is now _fSampleID and names of functions have been changed appropriately.
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  covariance/covarianceOsc.cpp
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
  samplePDF/samplePDFFDBase.h
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

changing function name to AppliesToSampleID and also adding in explicit check in FitterBase to make sure all samples have a unique name.
  covariance/covarianceBase.cpp
  covariance/covarianceOsc.cpp
  covariance/covarianceXsec.cpp
  mcmc/FitterBase.cpp
  samplePDF/samplePDFFDBase.cpp
Owners: @kskwarczynski, @edatkin, @dbarrow257

Turn on MO switching by default
  covariance/covarianceOsc.cpp
Owners: @kskwarczynski

Don't hardcode burnin to 20%
  Diagnostics/ProcessMCMC.cpp
  mcmc/MCMCProcessor.cpp
Owners: @kskwarczynski

fixing beta parameter implementation
  mcmc/mcmc.cpp
Owners: @kskwarczynski

Use burn-in value from YAML for chain comparisons too
  Diagnostics/ProcessMCMC.cpp
Owners: @kskwarczynski

Switch back to a default Burn-In of 20% to make sure nothing breaks
  mcmc/MCMCProcessor.cpp
Owners: @kskwarczynski
