Repository mach3-software/MaCh3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kskwarczynski, @henry-wallace-phys, @edatkin, @dbarrow257, @ewanwm, @pjdunne, @akaboth

.github/CODEOWNERS:

# This file annotates code ownership within MaCh3.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Inspired by ROOT
#   - https://github.com/root-project/root/blob/master/.github/CODEOWNERS

* @kskwarczynski

/cmake/* @kskwarczynski
**/CMakeLists.txt @kskwarczynski

/Doc/* @kskwarczynski
/.github/* @kskwarczynski
*.cu @kskwarczynski
*.cuh @kskwarczynski

/covariance/AdaptiveMCMCHandler* @henry-wallace-phys
/mcmc/* @kskwarczynski

/samplePDF/samplePDFFDBase* @edatkin @dbarrow257
/splines/splineFDBase* @edatkin @dbarrow257

/plotting/* @ewanwm
*.py @henry-wallace-phys @ewanwm
py* @henry-wallace-phys @ewanwm

README.md @kskwarczynski @edatkin
CONTRIBUTING.md @kskwarczynski @edatkin
.mailmap @kskwarczynski @edatkin

LICENSE.txt @pjdunne @akaboth
.zenodo.json @pjdunne @akaboth

Avoid seeing annoing CudaProbLinear errors
  cmake/Modules/NuOscillatorSetup.cmake
Owners: @kskwarczynski

minor
  cmake/Modules/NuOscillatorSetup.cmake
Owners: @kskwarczynski

now clang compiles without problems, just million of warnings
  CMakeLists.txt
Owners: @kskwarczynski

Minor tidy
  mcmc/OscProcessor.cpp
Owners: @kskwarczynski

fixing port of Lauri's implementation
  splines/SplineMonolith.cpp
  splines/SplineMonolith.h
Owners: @kskwarczynski

The way how USE_CPU flag in cmake was used, I found confusing. Instead use proper GPU_Enabled flag to help with logic
  CMakeLists.txt
  README.md
  covariance/CMakeLists.txt
  manager/CMakeLists.txt
  mcmc/CMakeLists.txt
  samplePDF/CMakeLists.txt
  splines/CMakeLists.txt
Owners: @kskwarczynski, @edatkin

delte -> delete [] for isflatarray
  splines/splineFDBase.cpp
Owners: @edatkin, @dbarrow257

bump
  CMakeLists.txt
Owners: @kskwarczynski

bumoed
  Doc/Doxyfile
Owners: @kskwarczynski

Move all getNDVarHist and associated functions to core code
  manager/manager.cpp
  manager/manager.h
  mcmc/FitterBase.cpp
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

Add isNC to MaCh3Modes helper and fix bug in MaCh3Modes::GetModeFromGenerator
  manager/MaCh3Modes.cpp
  manager/MaCh3Modes.h
Owners: @kskwarczynski

Remove pot from samplePDFBase and add mode weight map to samplePDFFDBase
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

tidy: bump version
  CMakeLists.txt
  Doc/Doxyfile
Owners: @kskwarczynski

Update description of NuOscillator in MaCh3 redme
  README.md
Owners: @kskwarczynski, @edatkin

Thanks nitpuicky linter...
  README.md
Owners: @kskwarczynski, @edatkin

Move LLHScan settings under General:LLHScan for better accessibility
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Fixed mach3 version and added printing dimensionlabels.
  CMakeLists.txt
  Doc/Doxyfile
  splines/splineFDBase.cpp
Owners: @kskwarczynski, @edatkin, @dbarrow257

Fix all TODOs in core
  manager/MaCh3Modes.cpp
  manager/MaCh3Modes.h
  mcmc/FitterBase.cpp
  mcmc/FitterBase.h
  samplePDF/FarDetectorCoreInfoStruct.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

Remove samplevecno and NSubSamples from required config readin
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @edatkin, @dbarrow257

Moving LLHScan settings outside General for a cleaner interface after chat with Dan
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Final changes to get everything working in new core cleanup
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @edatkin, @dbarrow257

Temporarily change Tutorial tag that's used for validations
  .github/workflows/CIValidations.yml
Owners: @kskwarczynski

Tabs -> spaces
  .github/workflows/CIValidations.yml
Owners: @kskwarczynski

Temporarily change Tutorial tag that's used for validations
  .github/workflows/Benchmark.yml
Owners: @kskwarczynski

Temporarily change Tutorial tag that's used for validations
  .github/workflows/Benchmark.yml
Owners: @kskwarczynski

Move other LLHScanSkipVector usages into LLHScan node
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

use pre-increments everywhere in FitterBase for loops consistently
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Implement user-defined LLH Scan ranges. Thanks Dan for the idea. First commit might be buggy
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Some logger for easier debugging, still not a finished product
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Fix some compilation errors
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

structured bindings works only in c++17 so reverting back to older ways to access std::maps
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Some helper comments and acknowledgement to Dan
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

yaml reading doesn't work as I want it, so testing a hardcoded custom llhscan range for delta_cp
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

minor convenience name changes for test
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Minor
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Use the prowess of std::map instead of looping
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

move loggers inside nested if
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Slightly alter the implementation of special ranges because something was fishy in LLHScan
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Let's now try whether reading from YAML works for special params
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Trying to grab scanRanges from yaml
  mcmc/FitterBase.cpp
Owners: @kskwarczynski
