Repository mach3-software/MaCh3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kskwarczynski, @henry-wallace-phys, @edatkin, @dbarrow257, @ewanwm, @pjdunne, @akaboth

Fixes needed for compilation under intel icpx
  CMakeLists.txt
  cmake/Modules/MaCh3Dependencies.cmake
  covariance/covarianceXsec.cpp
  manager/MaCh3Exception.h
  manager/MaCh3Logger.h
  splines/CMakeLists.txt
  splines/SplineMonolith.cpp
  splines/SplineMonolith.h
  splines/oneAPIUtils.dp.cpp
  splines/oneAPIUtils.dp.hpp
Owners: @kskwarczynski

Added particlehist virtual functions
  CMakeLists.txt
  Doc/Doxyfile
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

Added some checks and changed argument of RegisterIndividualFuncPar.
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @edatkin, @dbarrow257

remove GetSampleName and some minor renaming to be clearer with the base class renaming
  Samples/SampleHandlerBase.cpp
  Samples/SampleHandlerBase.h
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
Owners: @kskwarczynski

changing reweight to Reweight which is inline with the style guide
  Fitter/FitterBase.cpp
  Fitter/LikelihoodFit.cpp
  Fitter/mcmc.cpp
Owners: @kskwarczynski

changing the name of a few spline and norm parameter structs to be clearer along with some getters in the ParameterHandlerGeneric class
  ParameterHandler/ParameterHandlerGeneric.cpp
  ParameterHandler/ParameterHandlerGeneric.h
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
  Samples/Structs.h
Owners: @kskwarczynski

mkaing capitalisation of many functions consistent
  Fitter/SampleSummary.cpp
  Samples/SampleHandlerBase.cpp
  Samples/SampleHandlerBase.h
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
Owners: @kskwarczynski

missed some changes in the capitalisation so adding those in
  Fitter/FitterBase.cpp
  Samples/SampleHandlerBase.cpp
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
Owners: @kskwarczynski

making nXBins and nYBins member varaibles so they aren't needlessly found in GetLikelihood etc. also moving to using size_t for the bin indexing
  Samples/SampleHandlerBase.h
  Samples/SampleHandlerFD.cpp
Owners: @kskwarczynski

fixing some capitalisation of function names and also some small fixes like moving nXBins and nYBins into SampleHandlerFDBase since they are used there.
  Samples/SampleHandlerBase.h
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
Owners: @kskwarczynski

Updating contributing slightly to also include suggestions about style guide
  .github/CONTRIBUTING.md
Owners: @kskwarczynski, @edatkin

Ignore clangd .cache/.
  .gitignore
Owners: @kskwarczynski

fix pyMaCh3
  python/samplePDF.cpp
Owners: @henry-wallace-phys, @ewanwm

If somone uses more thatn 16 httreads simply throw error, with so many of them you will get slower code so...
  manager/Monitor.cpp
  manager/Monitor.h
  mcmc/FitterBase.cpp
  mcmc/mcmc.cpp
Owners: @kskwarczynski

Now properly load TestStat Value, also add option to update or not W2
  manager/manager.cpp
  samplePDF/HistogramUtils.cpp
  samplePDF/samplePDFBase.cpp
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

now by default enably both CUDAProb and NuFast we want at least one Beam and ATM engine
  cmake/Modules/NuOscillatorSetup.cmake
Owners: @kskwarczynski

if GPU was not compiled now container will not build to properly safeguard from cmake mistakes
  Doc/MaCh3DockerFiles/Rocky9/Dockerfile
Owners: @kskwarczynski

test new combination like GPU with debug, GPU without OMP etc
  .github/workflows/CIBuild.yml
Owners: @kskwarczynski

avoid duplicate options...
  .github/workflows/CIBuild.yml
Owners: @kskwarczynski

avoid using cuda prob3 for some of more sophisticated checks
  .github/workflows/CIBuild.yml
Owners: @kskwarczynski

Update Dockerfile
  Doc/MaCh3DockerFiles/Ubuntu22.04/Dockerfile
Owners: @kskwarczynski

thanks bot
  samplePDF/samplePDFFDBase.cpp
Owners: @edatkin, @dbarrow257

Adding some additional comments
  Samples/SampleHandlerFD.h
Owners: @kskwarczynski

removing specific function for taking in std::vector for the binning since we can piggyback on other functions. Also using size_t for nbins.
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
Owners: @kskwarczynski

Minor styling changes.
  mcmc/FitterBase.cpp
  mcmc/MaCh3Factory.h
  mcmc/mcmc.cpp
  samplePDF/samplePDFFDBase.cpp
Owners: @kskwarczynski, @edatkin, @dbarrow257

Restore -O0 for debugging.
  CMakeLists.txt
Owners: @kskwarczynski

minor name changes to functions and some member variables. Mainly making the capitalisation of functions to be PascalCase.
  Fitter/FitterBase.cpp
  Fitter/FitterBase.h
  Fitter/LikelihoodFit.cpp
  Fitter/LikelihoodFit.h
  Fitter/MinuitFit.cpp
  Fitter/MinuitFit.h
  Fitter/PSO.cpp
  Fitter/PSO.h
  Fitter/mcmc.cpp
  Fitter/mcmc.h
  ParameterHandler/PCAHandler.cpp
  ParameterHandler/PCAHandler.h
  ParameterHandler/ParameterHandlerBase.cpp
  ParameterHandler/ParameterHandlerBase.h
  ParameterHandler/ParameterHandlerGeneric.cpp
  ParameterHandler/ParameterHandlerGeneric.h
  ParameterHandler/ParameterHandlerOsc.cpp
  ParameterHandler/ParameterHandlerOsc.h
  Samples/SampleHandlerFD.cpp
  splines/BinnedSplineHandler.cpp
Owners: @kskwarczynski

forgot to update MaCh3Factory with relavent changes
  Fitter/MaCh3Factory.h
Owners: @kskwarczynski

add new flag which allows to turn off GPU at NuOsc independently from GPU being used by MaCh3
  CMakeLists.txt
  cmake/Modules/NuOscillatorSetup.cmake
Owners: @kskwarczynski

add dcp spline flattening functionality to multicanonical method
  mcmc/mcmc.cpp
  mcmc/mcmc.h
Owners: @kskwarczynski

Implement wrapper around ROOT clone which automatically disables ROOT memory managment
  mcmc/FitterBase.cpp
  mcmc/MCMCProcessor.cpp
  mcmc/StatisticalUtils.cpp
  mcmc/StatisticalUtils.h
  samplePDF/HistogramUtils.h
Owners: @kskwarczynski

allow to initalise manager using yaml, this should help when we would like start from previous chain and don't have access to orignal yaml so you could just load yaml embedded in MCMC
  manager/manager.cpp
  manager/manager.h
Owners: @kskwarczynski

MakeAssymGraph is now using smart pointers
  mcmc/FitterBase.cpp
  samplePDF/HistogramUtils.cpp
  samplePDF/HistogramUtils.h
Owners: @kskwarczynski

use std::max and min
  mcmc/FitterBase.cpp
Owners: @kskwarczynski

Impement yaml merging
  manager/YamlHelper.h
Owners: @kskwarczynski

Minor
  samplePDF/HistogramUtils.h
Owners: @kskwarczynski

tweaks after Henry comments
  samplePDF/HistogramUtils.cpp
  samplePDF/HistogramUtils.h
Owners: @kskwarczynski

Create CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @kskwarczynski, @edatkin

Fix link to CONTIBUTING.md
  README.md
Owners: @kskwarczynski, @edatkin

Move versioning info to correct CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @kskwarczynski, @edatkin

.github/CODEOWNERS:

# This file annotates code ownership within MaCh3.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Inspired by ROOT
#   - https://github.com/root-project/root/blob/master/.github/CODEOWNERS

* @kskwarczynski

/cmake/* @kskwarczynski
**/CMakeLists.txt @kskwarczynski

/Doc/* @kskwarczynski
/.github/* @kskwarczynski
*.cu @kskwarczynski
*.cuh @kskwarczynski

/covariance/AdaptiveMCMCHandler* @henry-wallace-phys
/mcmc/* @kskwarczynski

/samplePDF/samplePDFFDBase* @edatkin @dbarrow257
/splines/splineFDBase* @edatkin @dbarrow257

/plotting/* @ewanwm
*.py @henry-wallace-phys @ewanwm
py* @henry-wallace-phys @ewanwm

README.md @kskwarczynski @edatkin
CONTRIBUTING.md @kskwarczynski @edatkin
.mailmap @kskwarczynski @edatkin

LICENSE.txt @pjdunne @akaboth
.zenodo.json @pjdunne @akaboth
