Repository mach3-software/MaCh3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kskwarczynski, @henry-wallace-phys, @edatkin, @dbarrow257, @ewanwm, @pjdunne, @akaboth

Move versioning info to correct CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: @kskwarczynski, @edatkin

As there are many different implementations in NuOsc and only Unbinned will need the EqualBinning=false, change logic so Subsampling can be used with EqualBinning=true
  samplePDF/samplePDFFDBase.cpp
Owners: @edatkin, @dbarrow257

removing march native from default compiler flags
  CMakeLists.txt
Owners: @kskwarczynski

removing debug messages
  covariance/covarianceBase.cpp
Owners: @kskwarczynski

adding back a debug statement
  mcmc/mcmc.cpp
Owners: @kskwarczynski

Port Dan's fix to patches branch
  samplePDF/samplePDFFDBase.cpp
Owners: @edatkin, @dbarrow257

removing adaptive folder and adding functionality to only save every N adaptive iterations
  covariance/AdaptiveMCMCHandler.cpp
  covariance/AdaptiveMCMCHandler.h
  mcmc/FitterBase.cpp
  mcmc/FitterBase.h
  mcmc/mcmc.cpp
Owners: @henry-wallace-phys, @kskwarczynski

adding back in the check that the config contain the AdaptionSettings
  mcmc/MaCh3Factory.h
Owners: @kskwarczynski

moving couts of mant parameter values to be in a debug ifdef
  mcmc/mcmc.cpp
Owners: @kskwarczynski

add ability to disable bounds simply by using empty string in yaml
  covariance/covarianceBase.cpp
  manager/Core.h
  manager/YamlHelper.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

Thanks Dan for suggestion and use std::numeric_limits
  manager/Core.h
Owners: @kskwarczynski

Add limits for ubuntu
  manager/Core.h
Owners: @kskwarczynski

first go at modifying SaveAdaptiveToFile to save adaptive matrices to another file
  covariance/AdaptiveMCMCHandler.cpp
  covariance/AdaptiveMCMCHandler.h
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  mcmc/mcmc.cpp
Owners: @henry-wallace-phys, @kskwarczynski

.github/CODEOWNERS:

# This file annotates code ownership within MaCh3.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Inspired by ROOT
#   - https://github.com/root-project/root/blob/master/.github/CODEOWNERS

* @kskwarczynski

/cmake/* @kskwarczynski
**/CMakeLists.txt @kskwarczynski

/Doc/* @kskwarczynski
/.github/* @kskwarczynski
*.cu @kskwarczynski
*.cuh @kskwarczynski

/covariance/AdaptiveMCMCHandler* @henry-wallace-phys
/mcmc/* @kskwarczynski

/samplePDF/samplePDFFDBase* @edatkin @dbarrow257
/splines/splineFDBase* @edatkin @dbarrow257

/plotting/* @ewanwm
*.py @henry-wallace-phys @ewanwm
py* @henry-wallace-phys @ewanwm

README.md @kskwarczynski @edatkin
CONTRIBUTING.md @kskwarczynski @edatkin
.mailmap @kskwarczynski @edatkin

LICENSE.txt @pjdunne @akaboth
.zenodo.json @pjdunne @akaboth
