Repository mach3-software/MaCh3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kskwarczynski, @henry-wallace-phys, @edatkin, @dbarrow257, @ewanwm, @pjdunne, @akaboth

.github/CODEOWNERS:

# This file annotates code ownership within MaCh3.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Inspired by ROOT
#   - https://github.com/root-project/root/blob/master/.github/CODEOWNERS

* @kskwarczynski

/cmake/* @kskwarczynski
**/CMakeLists.txt @kskwarczynski

/Doc/* @kskwarczynski
/.github/* @kskwarczynski
*.cu @kskwarczynski
*.cuh @kskwarczynski

/covariance/AdaptiveMCMCHandler* @henry-wallace-phys
/mcmc/* @kskwarczynski

/samplePDF/samplePDFFDBase* @edatkin @dbarrow257
/splines/splineFDBase* @edatkin @dbarrow257

/plotting/* @ewanwm
*.py @henry-wallace-phys @ewanwm
py* @henry-wallace-phys @ewanwm

README.md @kskwarczynski @edatkin
CONTRIBUTING.md @kskwarczynski @edatkin
.mailmap @kskwarczynski @edatkin

LICENSE.txt @pjdunne @akaboth
.zenodo.json @pjdunne @akaboth

breaking: Now covariance factory return smart pointer
  mcmc/MaCh3Factory.cpp
  mcmc/MaCh3Factory.h
Owners: @kskwarczynski

add lib64 to LD_LIBRARY_PATH
  cmake/Templates/setup.MaCh3.sh.in
Owners: @kskwarczynski

Added saving adaptive cov. mat. whenever it is updated.
  mcmc/mcmc.cpp
Owners: @kskwarczynski

updating for 1.3.5
  mcmc/mcmc.cpp
Owners: @kskwarczynski

Simplfy sourcing external repo in mach3
  cmake/Modules/mach3-config.cmake
  cmake/Templates/setup.MaCh3.sh.in
Owners: @kskwarczynski

stop saving tvector with prior values, we have copy of full Yaml file
  mcmc/FitterBase.cpp
  mcmc/FitterBase.h
Owners: @kskwarczynski

Deploying to gh-pages from @ mach3-software/MaCh3@1f102f4ff38490d73676b28288af27cd65ac7b23 🚀
  classsamplePDFFDBase.html
  samplePDFFDBase_8cpp_source.html
  samplePDFFDBase_8h_source.html
Owners: @kskwarczynski

deploy: 1f102f4ff38490d73676b28288af27cd65ac7b23
  classsamplePDFFDBase.html
  samplePDFFDBase_8cpp_source.html
  samplePDFFDBase_8h_source.html
Owners: @kskwarczynski

Added comment in mcmc.cpp; added printing for AMCMC in covarianceBase.cpp; added march=native in cmakelist.txt.
  CMakeLists.txt
  covariance/covarianceBase.cpp
  mcmc/mcmc.cpp
Owners: @kskwarczynski

danke mr bot
  samplePDF/samplePDFFDBase.cpp
Owners: @edatkin, @dbarrow257

of course I forgot about python...
  python/samplePDF.cpp
Owners: @henry-wallace-phys, @ewanwm

Move plenty of PCA funcitonality to PCA handler, making CovBase neater
  covariance/PCAHandler.cpp
  covariance/PCAHandler.h
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  covariance/covarianceXsec.cpp
Owners: @kskwarczynski

simplfy way how we access random number generator
  covariance/covarianceBase.cpp
  manager/Monitor.cpp
  manager/Monitor.h
Owners: @kskwarczynski

Propely use no except, add virtual to all psline related desctiuctors, tidy destructor in spline monoltih
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  manager/Core.h
  splines/SplineBase.cpp
  splines/SplineBase.h
  splines/SplineMonolith.cpp
  splines/SplineMonolith.h
  splines/SplineStructs.h
  splines/splineFDBase.cpp
Owners: @kskwarczynski, @edatkin, @dbarrow257

bot saved my life again
  splines/SplineMonolith.cpp
Owners: @kskwarczynski

Bump NuOsc to v1.2.0
  cmake/Modules/NuOscillatorSetup.cmake
Owners: @kskwarczynski

Bump NuOscillator to use v1.2.0
  CMakeLists.txt
  cmake/Modules/NuOscillatorSetup.cmake
Owners: @kskwarczynski

bump doxy
  Doc/Doxyfile
Owners: @kskwarczynski

Update CIPythonValidations.yml
  .github/workflows/CIPythonValidations.yml
Owners: @kskwarczynski

Put all compile options into one place making it easier to chose from, allow to complie MaCh3 with native flag, which should help with perofrmance
  .github/workflows/CIBuild.yml
  CMakeLists.txt
  README.md
  cmake/Modules/CUDASamples.cmake
  cmake/Modules/CUDASetup.cmake
  cmake/Modules/MaCh3Dependencies.cmake
  cmake/Modules/NuOscillatorSetup.cmake
  cmake/Modules/mach3-config.cmake
Owners: @kskwarczynski, @edatkin

mach3-config will not be more helpfull
  cmake/Templates/mach3-config.in
Owners: @kskwarczynski

Hopefully last path change
  .github/CIscripts/RAM.sh
Owners: @kskwarczynski

move unity etc under M3 namespace to be safer
  manager/Core.h
  mcmc/FitterBase.cpp
  plotting/plottingUtils/inputManager.cpp
  plotting/plottingUtils/inputManager.h
  samplePDF/Structs.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

Make linter bot happy
  .github/workflows/CIBuild.yml
Owners: @kskwarczynski

Minor speedup due to reusing calcuaiton isntead of repeating them
  covariance/covarianceBase.cpp
  splines/SplineMonolith.cpp
  splines/gpuSplineUtils.cu
Owners: @kskwarczynski

unify code for finding spline segment between EventByEvent and Binned splines
  CMakeLists.txt
  Doc/Doxyfile
  samplePDF/samplePDFFDBase.cpp
  splines/SplineBase.cpp
  splines/SplineBase.h
  splines/SplineMonolith.cpp
  splines/SplineMonolith.h
  splines/SplineStructs.h
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Owners: @kskwarczynski, @edatkin, @dbarrow257

clean variabels which shoudl be removed
  splines/splineFDBase.h
Owners: @edatkin, @dbarrow257

enable warning if not all enums are used
  CMakeLists.txt
  manager/Core.h
  manager/MaCh3Logger.h
  mcmc/SampleSummary.cpp
  plotting/plottingUtils/inputManager.h
  samplePDF/Structs.h
  samplePDF/samplePDFBase.cpp
Owners: @kskwarczynski

fix compilation for low memory
  python/splines.cpp
  splines/splineFDBase.cpp
Owners: @henry-wallace-phys, @ewanwm, @edatkin, @dbarrow257

don't complie GPU NuOsc
  cmake/Modules/NuOscillatorSetup.cmake
Owners: @kskwarczynski

Deploying to gh-pages from @ mach3-software/MaCh3@583428917463c8bf3630f32f440ac7ebd55b044d 🚀
  SplineMonolith_8cpp_source.html
  SplineMonolith_8h_source.html
  classSMonolith.html
  classSMonolithGPU.html
  classcovarianceBase.html
  covarianceBase_8cpp_source.html
  gpuSplineUtils_8cu.html
  gpuSplineUtils_8cu_source.html
  gpuSplineUtils_8cuh.html
  gpuSplineUtils_8cuh_source.html
  pyMaCh3_8cpp.html
  splines_8cpp.html
  splines_8cpp_source.html
Owners: @kskwarczynski, @henry-wallace-phys, @ewanwm

deploy: 583428917463c8bf3630f32f440ac7ebd55b044d
  SplineMonolith_8cpp_source.html
  SplineMonolith_8h_source.html
  classSMonolith.html
  classSMonolithGPU.html
  classcovarianceBase.html
  covarianceBase_8cpp_source.html
  gpuSplineUtils_8cu.html
  gpuSplineUtils_8cu_source.html
  gpuSplineUtils_8cuh.html
  gpuSplineUtils_8cuh_source.html
  pyMaCh3_8cpp.html
  splines_8cpp.html
  splines_8cpp_source.html
Owners: @kskwarczynski, @henry-wallace-phys, @ewanwm

CRLF fix again
  Diagnostics/RHat.cpp
Owners: @kskwarczynski

CRLF AGAIN
  Diagnostics/RHat.cpp
Owners: @kskwarczynski

Testing OscProcessor
  mcmc/CMakeLists.txt
  mcmc/OscProcessor.cpp
  mcmc/OscProcessor.h
Owners: @kskwarczynski

sliglhy reduce copy pasting and now move Jarlskog hardcoding to new class
  mcmc/MCMCProcessor.cpp
  mcmc/MCMCProcessor.h
  mcmc/OscProcessor.cpp
  mcmc/OscProcessor.h
Owners: @kskwarczynski

bugfix: Make auto setting of NuOsc safer in land of coantianer and random variabels floating around
  cmake/Templates/setup.MaCh3.sh.in
Owners: @kskwarczynski

ROOT memory managment is evil
  mcmc/MCMCProcessor.cpp
Owners: @kskwarczynski

Add very intial for clang
  CMakeLists.txt
  manager/Core.h
  manager/YamlHelper.h
Owners: @kskwarczynski

restore original comment
  manager/Core.h
Owners: @kskwarczynski
