Repository mach3-software/MaCh3, pull requests merged in 2024-09, with the labels that each got.

#98 Remove ThrowParms
  Diagnostics/README.md
  covariance/AdaptiveMCMCHandler.h
  covariance/CMakeLists.txt
  covariance/PCAHandler.h
  covariance/ThrowParms.cpp
  covariance/ThrowParms.h
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  covariance/covarianceXsec.h
  manager/manager.h
  plotting/plottingUtils/plottingUtils.cpp
  samplePDF/ShiftFunctors.h
  samplePDF/Structs.cpp
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.h
Labels: Tidy

#106 More Scalable Cov Xsec
  .github/labeler.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .mailmap
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
  samplePDF/Structs.h
  splines/splineFDBase.cpp
Labels: Enhancement, Tidy

#110 Doxygen bibliography
  .github/labeler.yml
  CMakeLists.txt
  Doc/Doxyfile
  Doc/MaCh3.css
  Doc/bibliography.bib
  Doc/mainpage.md
  cmake/Templates/Doxyfile.in
  manager/gpuUtils.cuh
  mcmc/MCMCProcessor.cpp
  mcmc/MCMCProcessor.h
  mcmc/MinuitFit.h
  mcmc/SampleSummary.h
  mcmc/StatisticalUtils.h
  samplePDF/Structs.h
  samplePDF/samplePDFFDBase.h
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: MCMC

#113 Feature tidy
  .github/labeler.yml
  covariance/AdaptiveMCMCHandler.cpp
  covariance/AdaptiveMCMCHandler.h
  covariance/PCAHandler.h
  covariance/covarianceBase.cpp
  samplePDF/ShiftFunctors.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
  splines/splineFDBase.cpp
Labels: Nu Osc/Xsec, Samples

#92 TF1 Interpolation is back
  samplePDF/Structs.h
  splines/CMakeLists.txt
  splines/SplineCommon.h
  splines/SplineMonolith.cpp
  splines/SplineMonolith.h
  splines/SplineStructs.h
  splines/gpuSplineUtils.cu
  splines/gpuSplineUtils.cuh
Labels: Performance, Enhancement, Nu Osc/Xsec, Samples

#116 Random Fixes
  CMakeLists.txt
  Diagnostics/CMakeLists.txt
  Diagnostics/Diag_Config.yaml
  Doc/Doxyfile
  cmake/Modules/MaCh3Utils.cmake
  covariance/covarianceBase.cpp
  manager/Monitor.cpp
  manager/Monitor.h
  mcmc/FitterBase.cpp
  plotting/CMakeLists.txt
Labels: Documentation, Plotting, MCMC, Nu Osc/Xsec, Manager, Cmake

#112 Yaml for Osc Cov
  covariance/covarianceOsc.cpp
  covariance/covarianceOsc.h
  mcmc/MCMCProcessor.cpp
  mcmc/MCMCProcessor.h
  samplePDF/samplePDFFDBase.cpp
Labels: MCMC, Nu Osc/Xsec, Samples

#119 Minor syntax error fixes & removed some print statements
  splines/SplineMonolith.cpp
  splines/gpuSplineUtils.cu
Labels: Nu Osc/Xsec, GPU

#121 Added GetNp to TF1 in SplineStructs
  splines/SplineStructs.h
Labels: Nu Osc/Xsec

#122 Changes to CI after I change valaitions into tutorial
  .github/dependabot.yml
  .github/workflows/CIValidations.yml
  .github/workflows/TagTutorial.yml
  CMakeLists.txt
  Doc/Doxyfile
  covariance/covarianceOsc.cpp
Labels: Documentation, Nu Osc/Xsec, CI/CD, Cmake

#124 Less hardcoded GPU splines
  .mailmap
  cmake/Modules/CUDASetup.cmake
  plotting/GetPostfitParamPlots.cpp
  splines/SplineMonolith.cpp
  splines/SplineMonolith.h
  splines/gpuSplineUtils.cu
  splines/gpuSplineUtils.cuh
Labels: Plotting, Nu Osc/Xsec, GPU, Cmake

#125 Parameter Group
  CMakeLists.txt
  Doc/Doxyfile
  cmake/Modules/mach3-config.cmake
  cmake/Templates/MaCh3Config.cmake.in
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
  manager/MaCh3Modes.cpp
  mcmc/SampleSummary.cpp
  plotting/plottingUtils/plottingManager.cpp
  splines/SplineCommon.h
  splines/SplineMonolith.cpp
  splines/SplineStructs.h
Labels: Documentation, Plotting, MCMC, Nu Osc/Xsec, Manager, Cmake

#126 Spline GPU into proper class
  covariance/PCAHandler.h
  covariance/covarianceXsec.cpp
  splines/SplineMonolith.cpp
  splines/SplineMonolith.h
  splines/gpuSplineUtils.cu
  splines/gpuSplineUtils.cuh
Labels: Nu Osc/Xsec, GPU

#127 Debug CI
  .github/workflows/CIBuild.yml
  .github/workflows/CIValidations.yml
  Doc/MaCh3DockerFiles/Alma9/Dockerfile
  Doc/MaCh3DockerFiles/Fedora32/Dockerfile
  Doc/MaCh3DockerFiles/Ubuntu22.04/Dockerfile
Labels: Documentation, CI/CD

#128 Easier Flat Spline Monolith
  splines/CMakeLists.txt
  splines/MaCh3SplinesLinkDef.h
  splines/SplineMonolith.cpp
  splines/SplineMonolith.h
  splines/gpuSplineUtils.cuh
Labels: Nu Osc/Xsec, GPU

#129 Tidy Cov handlers
  cmake/Modules/MaCh3Dependencies.cmake
  covariance/AdaptiveMCMCHandler.cpp
  covariance/AdaptiveMCMCHandler.h
  covariance/PCAHandler.cpp
  covariance/PCAHandler.h
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
Labels: Nu Osc/Xsec, Cmake

#130 MCMC Diagnostic To CI
  .github/workflows/CIValidations.yml
  .mailmap
  CMakeLists.txt
  Doc/Doxyfile
  README.md
  cmake/Modules/version.cmake
  mcmc/SampleSummary.cpp
  splines/SplineStructs.h
  splines/gpuSplineUtils.cu
  splines/gpuSplineUtils.cuh
Labels: Documentation, MCMC, Nu Osc/Xsec, CI/CD, GPU, Cmake

#132 Nu MCMC CI
  .github/workflows/CIValidations.yml
  .github/workflows/Stale.yml
Labels: CI/CD

#133 Tidy CovXsec
  .github/workflows/CIValidations.yml
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
Labels: Nu Osc/Xsec, CI/CD

#134 More MCMC Diag to CI
  .github/workflows/CIValidations.yml
  Diagnostics/CombineMaCh3Chains.cpp
Labels: Plotting, CI/CD
