Repository mach3-software/MaCh3, pull requests merged in 2024-11, with the labels that each got.

#195 adds -DMaCh3_WERROR_ENABLED=OFF options if you just can't even with GCC
  .github/CONTRIBUTING.md
  CMakeLists.txt
Labels: CI/CD, Cmake

#197 Fix CUDA compilation
  .github/workflows/CIValidations.yml
  CMakeLists.txt
  README.md
  cmake/Modules/CUDASamples.cmake
  cmake/Modules/CUDASetup.cmake
  cmake/Modules/NuOscillatorSetup.cmake
  manager/gpuUtils.cuh
Labels: CI/CD, Manager, GPU, Cmake

#198 Random Fixes
  .github/workflows/Doxygen.yml
  .gitignore
  .mailmap
  CMakeLists.txt
  Diagnostics/GetPenaltyTerm.cpp
  Diagnostics/RHat.cpp
  Doc/Doxyfile
  Doc/html/nojekyll.txt
  cmake/Templates/Doxyfile.in
  cmake/Templates/MaCh3Config.cmake.in
  manager/Monitor.h
  manager/YamlHelper.h
  manager/gpuUtils.cuh
  mcmc/StatisticalUtils.h
  splines/SplineStructs.h
Labels: Documentation, Plotting, MCMC, Nu Osc/Xsec, CI/CD, Manager, GPU, Cmake

#200 Sample PDF Factory
  Doc/Doxyfile
  README.md
  cmake/Templates/Doxyfile.in
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  mcmc/MCMCProcessor.cpp
  mcmc/MaCh3Factory.h
  mcmc/StatisticalUtils.h
  python/samplePDF.cpp
  samplePDF/Structs.cpp
  samplePDF/samplePDFBase.cpp
  samplePDF/samplePDFBase.h
  splines/CMakeLists.txt
  splines/SplineMonolith.cpp
  splines/SplineMonolith.h
Labels: Documentation, MCMC, Nu Osc/Xsec, Samples, Cmake

#201 Fix code scanning alert no. 2135: Multiplication result converted to larger type
  Diagnostics/RHat.cpp
Labels: Plotting

#202 Fix code scanning alert no. 2136: Multiplication result converted to larger type
  Diagnostics/RHat.cpp
Labels: Plotting

#204 More fixes to werror
  mcmc/MCMCProcessor.cpp
  mcmc/PSO.h
Labels: MCMC

#203 Caseinsentisitve param group
  CMakeLists.txt
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
Labels: Nu Osc/Xsec, Cmake

#207 Random Tidy
  mcmc/PSO.cpp
  mcmc/PSO.h
  mcmc/SampleSummary.cpp
  mcmc/SampleSummary.h
  plotting/CMakeLists.txt
  plotting/GetPostfitParamPlots.cpp
  plotting/MatrixPlotter.cpp
  plotting/PlotLLH.cpp
Labels: Plotting, MCMC

#206 MCMC Thinning
  .github/workflows/Newsletter.yml
  Diagnostics/ProcessMCMC.cpp
  Doc/bibliography.bib
  mcmc/MCMCProcessor.h
  mcmc/StatisticalUtils.h
Labels: Documentation, Plotting, MCMC, CI/CD

#209 Correctly ignore C-style cast in CUDA header, short int->int to avoid…
  manager/gpuUtils.cuh
  splines/SplineMonolith.cpp
  splines/SplineMonolith.h
Labels: Nu Osc/Xsec, Manager, GPU

#211 pip install to CI/CD
  .github/workflows/CDImage.yml
  Doc/MaCh3DockerFiles/Alma9/Dockerfile
  Doc/MaCh3DockerFiles/Fedora32/Dockerfile
  Doc/MaCh3DockerFiles/Rocky9/Dockerfile
  Doc/MaCh3DockerFiles/Ubuntu22.04/Dockerfile
Labels: Documentation, CI/CD

#214 Normalisation parameter kinetmatic cuts niceities
  covariance/covarianceXsec.cpp
Labels: Nu Osc/Xsec

#217 fix the links in sphinx docs
  Doc/sphinx/source/covariance.rst
  Doc/sphinx/source/fitter.rst
  Doc/sphinx/source/manager.rst
  Doc/sphinx/source/plotting.rst
  Doc/sphinx/source/sample-pdf.rst
  Doc/sphinx/source/splines.rst
Labels: Documentation

#218 Add Python CI
  .github/workflows/CIPythonValidations.yml
Labels: CI/CD

#212 MCMC Averaging
  .mailmap
  Diagnostics/DiagMCMC.cpp
  Diagnostics/ProcessMCMC.cpp
  mcmc/MCMCProcessor.cpp
  mcmc/MCMCProcessor.h
Labels: Documentation, Plotting, MCMC

#221 Tidy Factory
  mcmc/MaCh3Factory.cpp
  mcmc/MaCh3Factory.h
Labels: MCMC

#223 Fix plotting
  .github/workflows/CIValidations.yml
  plotting/plottingUtils/inputManager.h
Labels: Plotting, CI/CD

#222 Feature/dbarrow257/osc prob
  README.md
  cmake/Modules/NuOscillatorSetup.cmake
  samplePDF/samplePDFFDBase.cpp
Labels: Samples, Cmake

#226 Some Fixes
  .github/workflows/CIPythonValidations.yml
  CMakeLists.txt
  Doc/Doxyfile
  Doc/MaCh3DockerFiles/Ubuntu22.04/Dockerfile
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  plotting/GetPostfitParamPlots.cpp
Labels: Documentation, Plotting, Nu Osc/Xsec, CI/CD, Cmake

#227 Faster caching
  mcmc/MCMCProcessor.cpp
Labels: MCMC

#228 More CI
  .github/workflows/CIValidations.yml
Labels: CI/CD

#229 Fix segfault
  plotting/GetPostfitParamPlots.cpp
Labels: Plotting
