Repository mach3-software/MaCh3, pull requests merged in 2024-10, with the labels that each got.

#137 Testing codoweners
  .github/CODEOWNERS
Labels: CI/CD

#139 Smarter CPM
  cmake/Modules/CPM.cmake
  cmake/Modules/MaCh3Dependencies.cmake
Labels: Cmake

#138 Feature plotting mcmc
  plotting/plottingUtils/CMakeLists.txt
  plotting/plottingUtils/inputManager.cpp
  plotting/plottingUtils/inputManager.h
  plotting/plottingUtils/plottingManager.cpp
  plotting/plottingUtils/plottingManager.h
  plotting/plottingUtils/plottingUtils.cpp
  plotting/plottingUtils/plottingUtils.h
  plotting/plottingUtils/pythonPlottingModule.cpp
  plotting/plottingUtils/styleManager.h
  pyproject.toml
Labels: Plotting

#151 Newsletter from bot
  .github/CODEOWNERS
  .github/workflows/Newsletter.yml
Labels: CI/CD

#153 Test
  Doc/.clang-format
Labels: Documentation

#154 save the 1d posteriors in MCMCProcessor
  mcmc/MCMCProcessor.cpp
Labels: MCMC

#155 automatically set PYTHONPATH in setup.MaCh3.sh
  cmake/Templates/setup.MaCh3.sh.in
Labels: Cmake

#158 Sphinx documentation for python
  Doc/sphinx/Makefile
  Doc/sphinx/README.md
  Doc/sphinx/make.bat
  Doc/sphinx/requirements.txt
  Doc/sphinx/source/conf.py
  Doc/sphinx/source/index.rst
  Doc/sphinx/source/mainpage.rst
  Doc/sphinx/source/plotting.md
  Doc/sphinx/source/plotting.rst
  Doc/sphinx/source/pyMaCh3.rst
  README.md
  plotting/plottingUtils/pythonPlottingModule.cpp
Labels: Documentation, Plotting, python

#160 Save Covariance in MCMC File
  .github/workflows/CDImage.yml
  .github/workflows/CIBuild.yml
  .github/workflows/CIValidations.yml
  CONTRIBUTING.md
  README.md
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  manager/YamlHelper.h
  mcmc/FitterBase.cpp
  mcmc/FitterBase.h
  mcmc/MCMCProcessor.cpp
  mcmc/MCMCProcessor.h
Labels: MCMC, Nu Osc/Xsec, CI/CD, Manager

#163 Covariance Factory
  .github/CODEOWNERS
  .github/workflows/CDImage.yml
  .github/workflows/CIBuild.yml
  CMakeLists.txt
  Doc/Doxyfile
  Doc/MaCh3DockerFiles/Alma9/Dockerfile
  Doc/MaCh3DockerFiles/Fedora32/Dockerfile
  Doc/MaCh3DockerFiles/Ubuntu22.04/Dockerfile
  covariance/covarianceBase.cpp
  covariance/covarianceOsc.cpp
  covariance/covarianceXsec.cpp
  manager/YamlHelper.h
  mcmc/FitterBase.cpp
  mcmc/MCMCProcessor.cpp
  mcmc/MCMCProcessor.h
  mcmc/MaCh3Factory.cpp
  mcmc/MaCh3Factory.h
  splines/SplineStructs.h
  splines/splineFDBase.cpp
Labels: Documentation, MCMC, Nu Osc/Xsec, CI/CD, Manager, Cmake

#167 Remove plotting configs from core
  plotting/PlottingConfig.yaml
  plotting/StyleConfig.yaml
  plotting/universalTranslator.yaml
Labels: Plotting

#166 Random Tidy
  .github/workflows/CDImage.yml
  Doc/MaCh3DockerFiles/Alma9/Dockerfile
  Doc/MaCh3DockerFiles/Fedora32/Dockerfile
  Doc/MaCh3DockerFiles/Ubuntu22.04/Dockerfile
  covariance/covarianceBase.cpp
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
  manager/Monitor.cpp
  manager/Monitor.h
  manager/manager.cpp
  mcmc/FitterBase.cpp
  mcmc/MCMCProcessor.cpp
  samplePDF/Structs.h
  splines/SplineStructs.h
Labels: Documentation, MCMC, Nu Osc/Xsec, CI/CD, Samples, Manager

#170 Meme bot test
  .github/workflows/Meme.yml
Labels: CI/CD

#161 Feature osc class magic
  CMakeLists.txt
  OscClass/CMakeLists.txt
  OscClass/OscClass_CUDAProb3.cpp
  OscClass/OscClass_CUDAProb3.h
  README.md
  cmake/Modules/CUDASetup.cmake
  cmake/Modules/MaCh3Dependencies.cmake
  cmake/Modules/NuOscillatorSetup.cmake
  cmake/Templates/MaCh3Config.cmake.in
  covariance/covarianceOsc.cpp
  covariance/covarianceOsc.h
  samplePDF/CMakeLists.txt
  samplePDF/FDMCStruct.h
  samplePDF/ShiftFunctors.h
  samplePDF/Structs.h
  samplePDF/kdeGpu.cu
  samplePDF/kdeGpu2.cu
  samplePDF/probGpu.cu
  samplePDF/samplePDFBase.cpp
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
  splines/SplineMonolith.cpp
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: Nu Osc/Xsec, Samples, GPU, Cmake

#173 fix to work with other shells than bash
  cmake/Templates/setup.MaCh3.sh.in
Labels: Cmake

#172 Re-add get1DVarHist back into samplePDFFDBase
  samplePDF/FDMCStruct.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: Samples

#178 Auto generation python docs
  .github/workflows/Doxygen.yml
  Doc/mainpage.md
Labels: Documentation, CI/CD

#179 Upload docs to pages
  .github/workflows/Doxygen.yml
Labels: CI/CD

#180 Fix gh-pages deployment
  .github/workflows/Doxygen.yml
Labels: CI/CD

#181 Fix link in mainpage.md
  Doc/mainpage.md
Labels: Documentation

#182 Tidy
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  CMakeLists.txt
  Diagnostics/RHat.cpp
  cmake/Modules/NuOscillatorSetup.cmake
  covariance/covarianceBase.cpp
  mcmc/FitterBase.cpp
  mcmc/MCMCProcessor.cpp
  mcmc/StatisticalUtils.h
  python/CMakeLists.txt
  samplePDF/Structs.cpp
  samplePDF/Structs.h
Labels: Plotting, MCMC, Nu Osc/Xsec, CI/CD, Samples, Cmake

#175 Start From Previous Chain
  manager/YamlHelper.h
  manager/manager.cpp
  mcmc/FitterBase.cpp
  mcmc/MCMCProcessor.cpp
  mcmc/mcmc.cpp
  mcmc/mcmc.h
  plotting/plottingUtils/plottingManager.cpp
Labels: Plotting, MCMC, Manager

#183 Remove Garbage
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  covariance/covarianceOsc.cpp
  covariance/covarianceOsc.h
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
  mcmc/FitterBase.cpp
  mcmc/FitterBase.h
  mcmc/LikelihoodFit.cpp
  mcmc/mcmc.cpp
  python/fitter.cpp
  samplePDF/samplePDFFDBase.cpp
  splines/splineFDBase.cpp
Labels: MCMC, Nu Osc/Xsec, Samples

#185 CI Folder Fix
  .github/workflows/CIValidations.yml
Labels: CI/CD

#184 More Flexible Start FromPrevious
  mcmc/FitterBase.cpp
  mcmc/FitterBase.h
  mcmc/mcmc.cpp
  mcmc/mcmc.h
Labels: MCMC

#188 Remvoe Size...
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
Labels: Nu Osc/Xsec

#187 Matrix Plotter
  .github/workflows/CIValidations.yml
  CMakeLists.txt
  covariance/covarianceBase.cpp
  mcmc/FitterBase.cpp
  mcmc/FitterBase.h
  mcmc/LikelihoodFit.cpp
  mcmc/MCMCProcessor.cpp
  mcmc/PSO.cpp
  mcmc/PSO.h
  mcmc/StatisticalUtils.h
  plotting/CMakeLists.txt
  plotting/MatrixPlotter.cpp
  plotting/README.md
  samplePDF/Structs.cpp
  samplePDF/Structs.h
  samplePDF/samplePDFBase.cpp
Labels: Plotting, MCMC, Nu Osc/Xsec, CI/CD, Samples, Cmake

#191 enforece use of new sample CI
  .github/workflows/CIValidations.yml
Labels: CI/CD

#189 Feature tidy up
  python/samplePDF.cpp
  samplePDF/CMakeLists.txt
  samplePDF/FDMCStruct.h
  samplePDF/FarDetectorCoreInfoStruct.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
  splines/splineFDBase.cpp
Labels: Nu Osc/Xsec, Samples
