Repository mach3-software/MaCh3, pull requests merged in 2024-12, with the labels that each got.

#235 Feature core 1.2.0
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
  mcmc/MaCh3Factory.h
  python/samplePDF.cpp
  samplePDF/FarDetectorCoreInfoStruct.h
  samplePDF/Structs.cpp
  samplePDF/Structs.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: MCMC, Nu Osc/Xsec, Samples

#234 Random
  Diagnostics/DiagMCMC.cpp
  Diagnostics/ProcessMCMC.cpp
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
  mcmc/FitterBase.cpp
  samplePDF/Structs.cpp
  samplePDF/samplePDFFDBase.cpp
Labels: Plotting, MCMC, Nu Osc/Xsec, Samples

#238 Fix Tittle in LLH plot
  plotting/PlotLLH.cpp
Labels: Plotting

#240 bugfix: Now use M3::float_t type in more places, tidy: Removing duplicated Unity values
  .github/workflows/PRtittleChecker.yml
  samplePDF/FarDetectorCoreInfoStruct.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
  splines/splineFDBase.h
Labels: Nu Osc/Xsec, CI/CD, Samples

#244 bugfix: Fix flag proapgation to NuOsc
  CMakeLists.txt
  cmake/Modules/NuOscillatorSetup.cmake
Labels: Bug Fix, Cmake

#246 feat: Print which settigns are different when merging chians
  Diagnostics/CombineMaCh3Chains.cpp
Labels: Plotting

#249 Breaking: Corrects setting in adaptiveMCMC handler which causes crashes
  covariance/AdaptiveMCMCHandler.cpp
Labels: Nu Osc/Xsec

#241 breaking: Remove Legacy init
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
Labels: Nu Osc/Xsec

#251 feat: Smarter CombineMCMCChains
  CMakeLists.txt
  Diagnostics/CombineMaCh3Chains.cpp
  Doc/Doxyfile
Labels: Documentation, Enhancement, Plotting, Cmake

#253 tidy: Step Scale Sanity chekc et. al.
  .github/workflows/CIValidations.yml
  Doc/bibliography.bib
  covariance/AdaptiveMCMCHandler.h
  covariance/PCAHandler.h
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  mcmc/FitterBase.cpp
  plotting/plottingUtils/inputManager.cpp
  plotting/plottingUtils/inputManager.h
Labels: Documentation, Plotting, MCMC, Nu Osc/Xsec, CI/CD

#250 feat: Flexible Violin Plotter
  plotting/GetPostfitParamPlots.cpp
Labels: Plotting

#252 tidy: Janitorial work for SamplePDF
  mcmc/FitterBase.cpp
  samplePDF/FarDetectorCoreInfoStruct.h
  samplePDF/Structs.h
  samplePDF/samplePDFBase.cpp
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: MCMC, Samples

#255 bugfix: TAxis get array fix for spline binning print
  splines/splineFDBase.cpp
Labels: Nu Osc/Xsec

#257 bugfix: Update treatment of getting Norm Params
  covariance/covarianceXsec.cpp
Labels: Bug Fix, Nu Osc/Xsec

#256 tidy: Doxygen Credits
  Diagnostics/CombineMaCh3Chains.cpp
  covariance/PCAHandler.h
  covariance/covarianceXsec.h
  manager/MaCh3Modes.h
  manager/manager.h
  mcmc/MCMCProcessor.h
  mcmc/MinuitFit.h
  mcmc/PSO.h
  mcmc/SampleSummary.h
  mcmc/StatisticalUtils.h
  mcmc/gpuMCMCProcessorUtils.cuh
  mcmc/mcmc.h
  plotting/GetPostfitParamPlots.cpp
  plotting/PlotLLH.cpp
  plotting/plottingUtils/plottingManager.h
  plotting/plottingUtils/styleManager.h
  samplePDF/samplePDFFDBase.h
  splines/SplineMonolith.h
  splines/splineFDBase.h
Labels: Plotting, MCMC, Nu Osc/Xsec, Samples, Manager, GPU
