Repository mach3-software/MaCh3, pull requests merged in 2025-09, with the labels that each got.

#612 feat: MCMC Processor support for chains with weight
  Fitters/MCMCProcessor.cpp
  Fitters/MCMCProcessor.h
Labels: MCMC

#575 feat: arithmetic, Gaussian, HPD for outputting cov YAMLs
  Diagnostics/ProcessMCMC.cpp
  Fitters/MCMCProcessor.cpp
  Fitters/MCMCProcessor.h
  Parameters/ParameterHandlerUtils.h
Labels: Plotting, MCMC, Nu Osc/Xsec

#603 bugfix: Use correclty Sample Name in Spline Code
  Samples/SampleHandlerFD.cpp
  Splines/BinnedSplineHandler.cpp
  Splines/BinnedSplineHandler.h
Labels: Nu Osc/Xsec, Samples, Manager

#627 feat: Dynamic algorithm name
  Doc/MaCh3Web/bibliography.bib
  Doc/MaCh3Web/mainpage.md
  Fitters/DelayedMR2T2.cpp
  Fitters/DelayedMR2T2.h
  Fitters/FitterBase.cpp
  Fitters/FitterBase.h
  Fitters/LikelihoodFit.h
  Fitters/MCMCBase.h
  Fitters/MR2T2.cpp
  Fitters/MR2T2.h
  Fitters/MinuitFit.cpp
  Fitters/MinuitFit.h
  Fitters/PSO.cpp
  Fitters/PSO.h
  Fitters/PredictiveThrower.cpp
  Fitters/PredictiveThrower.h
  Fitters/StatisticalUtils.cpp
  Parameters/AdaptiveMCMCHandler.cpp
  Parameters/AdaptiveMCMCHandler.h
  Parameters/ParameterHandlerBase.cpp
  README.md
  Samples/SampleHandlerBase.cpp
  Samples/SampleHandlerBase.h
  Samples/SampleStructs.h
  python/fitters.cpp
Labels: Documentation, MCMC, Nu Osc/Xsec, Samples

#635 bugfix: more tittle -> title
  Splines/BinnedSplineHandler.cpp
  Splines/BinnedSplineHandler.h
Labels: Documentation, Nu Osc/Xsec, Tidy
