Repository mach3-software/MaCh3, pull requests merged in 2025-07, with the labels that each got.

#529 tidy: Removal of oboslete stuff and micro optimisation
  CMakeLists.txt
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
Labels: Samples, Cmake

#531 feat: SaveProposal is now configurable
  Fitters/FitterBase.cpp
  Fitters/FitterBase.h
Labels: MCMC

#544 tidy: Modify Bot Alert threshold
  .github/workflows/Benchmark.yml
Labels: CI/CD

#538 tidy: More helpfull yaml error messages
  Manager/YamlHelper.h
Labels: Manager

#539 tidy: Wildcard sanitizer
  Parameters/ParameterHandlerBase.cpp
Labels: Nu Osc/Xsec

#534 feat: Use STL over TMath
  Fitters/mcmc.cpp
  Samples/SampleHandlerFD.cpp
Labels: MCMC, Samples

#547 tidy: Imrovments to documentation
  Doc/Doxyfile
  Samples/SampleHandlerBase.cpp
  Samples/SampleHandlerBase.h
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
Labels: Documentation, Samples

#542 feat: Wrapper around Open to safegarud from missconfigured paths
  Fitters/FitterBase.cpp
  Fitters/StatisticalUtils.cpp
  Samples/HistogramUtils.cpp
  Samples/HistogramUtils.h
Labels: MCMC, Samples

#543 tidy: Clone Data
  Fitters/MaCh3Factory.h
  Samples/SampleHandlerFD.cpp
Labels: MCMC, Samples

#554 feat: Diagnostics readme update and file name change
  Diagnostics/PlotMCMCDiag.cpp
  Diagnostics/README.md
Labels: Plotting

#525 feat: Do not apply special proposal for fixed params
  Parameters/ParameterHandlerBase.cpp
  Parameters/ParameterHandlerBase.h
Labels: Nu Osc/Xsec

#515 feat: Sigma Var for FD
  Fitters/FitterBase.cpp
  Fitters/FitterBase.h
Labels: MCMC

#551 feat: ICPX Bot
  .github/workflows/CIBuild.yml
  CMakeLists.txt
  Doc/MaCh3DockerFiles/Alma9_icpx/Dockerfile
  Manager/Core.h
  README.md
Labels: Documentation, CI/CD, Manager, Cmake

#557 bugfix: make error message in processMCMC app a bit clearer
  Diagnostics/ProcessMCMC.cpp
Labels: Plotting

#556 tidy: Stop Saving Adatpive So often
  .github/workflows/CIValidations.yml
  Parameters/AdaptiveMCMCHandler.cpp
  Parameters/AdaptiveMCMCHandler.h
Labels: Nu Osc/Xsec, CI/CD

#558 tidy: Reduce push back in Spline Binned
  Splines/BinnedSplineHandler.cpp
  Splines/SplineMonolith.cpp
Labels: Nu Osc/Xsec

#562 bugfix: minor memory leak
  Parameters/ParameterHandlerBase.cpp
  Parameters/ParameterStructs.h
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
Labels: Nu Osc/Xsec, Samples

#567 feat: Savage Dickey for Jarlskog
  Fitters/MCMCProcessor.cpp
  Fitters/MCMCProcessor.h
  Fitters/OscProcessor.cpp
Labels: MCMC

#573 tidy: No longer print correlation in each bin for larger matrices
  Plotting/MatrixPlotter.cpp
Labels: Plotting

#571 tidy: do not allow adaption to be initialsied twice
  Parameters/ParameterHandlerBase.cpp
Labels: Nu Osc/Xsec
