Repository mach3-software/MaCh3, pull requests merged in 2025-04, with the labels that each got.

#393 feat: get sample name fix
  python/samplePDF.cpp
  samplePDF/samplePDFBase.cpp
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: Samples

#396 feat: functional parameters
  .gitignore
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
  python/samplePDF.cpp
  samplePDF/Structs.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: Nu Osc/Xsec, Samples

#401 feat: More robust GPU CI
  .github/workflows/CIBuild.yml
  Doc/MaCh3DockerFiles/Rocky9/Dockerfile
  Doc/MaCh3DockerFiles/Ubuntu22.04/Dockerfile
  cmake/Modules/NuOscillatorSetup.cmake
Labels: Documentation, CI/CD, Cmake

#403 bugfix: Properly select test statistic
  manager/manager.cpp
  samplePDF/HistogramUtils.cpp
  samplePDF/samplePDFBase.cpp
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: Samples, Manager

#402 feat: N Threas Sanity Check
  manager/Monitor.cpp
  manager/Monitor.h
  mcmc/FitterBase.cpp
  mcmc/mcmc.cpp
Labels: MCMC, Manager

#410 tidy: explain versioning of this package in CONTRIBUTING.md
  .github/CONTRIBUTING.md
  README.md
Labels: Documentation, CI/CD

#408 feat: Yaml Merging
  manager/YamlHelper.h
  manager/manager.cpp
  manager/manager.h
Labels: Manager

#407 feat: Ability to turn off gpu for NuOsc
  CMakeLists.txt
  cmake/Modules/NuOscillatorSetup.cmake
Labels: Cmake

#414 feat: Minor RAM tweaks for spline
  samplePDF/Structs.h
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: Nu Osc/Xsec, Samples

#412 feat: Ability to speicfy "empty" bounds
  covariance/covarianceBase.cpp
  manager/Core.h
  manager/YamlHelper.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: Nu Osc/Xsec, Samples, Manager

#405 breaking: adaptive mcmc update
  CMakeLists.txt
  covariance/AdaptiveMCMCHandler.cpp
  covariance/AdaptiveMCMCHandler.h
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  mcmc/FitterBase.cpp
  mcmc/MaCh3Factory.h
  mcmc/mcmc.cpp
  samplePDF/samplePDFFDBase.cpp
Labels: MCMC, Nu Osc/Xsec, Samples, Cmake

#413 feat: Valgrind bot
  .github/workflows/WeeklyValgrind.yml
Labels: CI/CD

#416 feat: Notify about contributing
  .github/pull_request_template.md
Labels: CI/CD

#417 bugfix: Improve Thread Sanity
  manager/Monitor.cpp
Labels: Manager

#421 feat: Universal, path-independent setup
  cmake/Templates/setup.MaCh3.sh.in
Labels: Cmake

#419 feat: Safer Yaml Handling
  manager/YamlHelper.h
Labels: Manager

#420 breaking: Add Kinematic Cut Struct
  python/samplePDF.cpp
  samplePDF/Structs.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: Samples

#423 feat: Universal setup: bash, sh, zsh, ksh, dash
  cmake/Templates/setup.MaCh3.sh.in
Labels: Cmake

#425 feat: Shared NuOscillator object for fixed binning across all samples
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: Documentation, Samples, Cmake

#422 tidy: Minor Yaml and Spline tidy
  manager/MaCh3Modes.cpp
  mcmc/MaCh3Factory.h
  mcmc/PSO.cpp
  splines/SplineCommon.h
Labels: MCMC, Nu Osc/Xsec, Manager

#418 feat: Allow to override config with another config
  mcmc/MaCh3Factory.cpp
Labels: MCMC

#426 feat: Update NuOscillatorSetup.cmake to use v1.3.1
  cmake/Modules/NuOscillatorSetup.cmake
Labels: Cmake
