Repository mach3-software/MaCh3, pull requests merged in 2025-05, with the labels that each got.

#427 bugfix: Fix Shared NuOsc destructor
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: Samples

#429 breaking: Fix Setting initial steps for adaption when starting from previous chain
  mcmc/mcmc.cpp
  mcmc/mcmc.h
  python/fitter.cpp
Labels: MCMC

#435 feat: Bot for Task Checking
  .github/workflows/TaskChecker.yml
Labels: CI/CD

#438 feat: Expand Newsletter
  .github/workflows/Newsletter.yml
Labels: CI/CD

#436 tidy: Add some info about C++ standard and practice to contributing
  .github/CONTRIBUTING.md
Labels: CI/CD

#434 feat: Add Tune or Correlations to Yaml
  Manager/YamlHelper.h
  Parameters/ParameterHandlerBase.cpp
  Parameters/ParameterHandlerUtils.h
  Samples/Structs.h
Labels: Nu Osc/Xsec, Samples, Manager

#437 feat: Individual Knot Capping for Binned Splines
  Manager/Core.h
  Parameters/ParameterHandlerGeneric.cpp
  Splines/BinnedSplineHandler.cpp
  Splines/SplineStructs.h
Labels: Nu Osc/Xsec, Manager

#440 feat: ROOT Dicitonary to recude copy pasting
  Splines/CMakeLists.txt
  Splines/SplineCommon.h
  Splines/SplineMonolith.cpp
Labels: Nu Osc/Xsec

#443 tidy: Increase usage of groups in Doxygen
  Parameters/ParameterHandlerBase.h
  Parameters/ParameterHandlerGeneric.h
  Parameters/ParameterHandlerOsc.h
  Plotting/plottingUtils/inputManager.h
  Plotting/plottingUtils/styleManager.h
  Samples/SampleHandlerBase.h
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
  python/fitters.cpp
  python/parameters.cpp
  python/samples.cpp
  python/splines.cpp
Labels: Plotting, Nu Osc/Xsec, Samples

#444 tidy: PCA prefit intialsition now in PCA Hnadler
  Parameters/PCAHandler.cpp
  Parameters/PCAHandler.h
  Parameters/ParameterHandlerGeneric.cpp
  Parameters/ParameterHandlerOsc.cpp
Labels: Nu Osc/Xsec

#447 tidy: Avoid code duplicates in Sample Handler
  Parameters/ParameterHandlerBase.cpp
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
Labels: Nu Osc/Xsec, Samples

#449 breaking: Reduce Unity type weirdness
  Manager/Core.h
  Samples/SampleHandlerFD.cpp
Labels: Samples, Manager

#445 tidy: turn off sliglhy annoing cuda warnings
  cmake/Modules/CUDASetup.cmake
Labels: Cmake, title needs formatting

#446 tidy: More flexible parameter flipping
  Parameters/ParameterHandlerOsc.cpp
  Parameters/ParameterHandlerOsc.h
Labels: Nu Osc/Xsec

#454 feat: Expand CodeQL to also perform GPU compilation
  .github/workflows/CodeQL.yml
Labels: CI/CD

#448 tidy: Adaptive Handler into pointer
  Parameters/ParameterHandlerBase.cpp
  Parameters/ParameterHandlerBase.h
Labels: Nu Osc/Xsec

#450 feat: Oscillation Handler
  .github/CODEOWNERS
  CMakeLists.txt
  Doc/Doxyfile
  Samples/CMakeLists.txt
  Samples/OscillationHandler.cpp
  Samples/OscillationHandler.h
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
Labels: Documentation, Plotting, Nu Osc/Xsec, CI/CD, Samples, Manager, Cmake

#451 tidy: TypeParameterBase and unifcation of GetXParsFromSampleName
  Parameters/ParameterHandlerGeneric.cpp
  Parameters/ParameterHandlerGeneric.h
  Samples/Structs.h
Labels: Plotting, Nu Osc/Xsec, Samples

#452 feat: adaptive fix par interface
  Parameters/AdaptiveMCMCHandler.cpp
  Parameters/AdaptiveMCMCHandler.h
  Parameters/ParameterHandlerBase.cpp
Labels: Nu Osc/Xsec

#455 breaking: Osc Channel Info
  Samples/FarDetectorCoreInfoStruct.h
  Samples/SampleHandlerBase.cpp
  Samples/SampleHandlerBase.h
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
Labels: Samples

#460 tidy: OscParams Sanity
  Samples/SampleHandlerFD.cpp
Labels: Samples

#458 breaking: Remove Oscillation Channel Loop Structure
  Fitters/FitterBase.cpp
  Samples/SampleHandlerBase.cpp
  Samples/SampleHandlerBase.h
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
  Samples/Structs.h
  python/samples.cpp
Labels: MCMC, Samples

#465 bugfix: Write the covariance settings to disk before closing the file
  Fitters/FitterBase.cpp
Labels: MCMC

#464 tidy: Turn PCA Handler into proper class
  Fitters/FitterBase.cpp
  Fitters/LikelihoodFit.cpp
  Fitters/MinuitFit.cpp
  Fitters/PSO.cpp
  Fitters/mcmc.cpp
  Parameters/AdaptiveMCMCHandler.cpp
  Parameters/AdaptiveMCMCHandler.h
  Parameters/PCAHandler.cpp
  Parameters/PCAHandler.h
  Parameters/ParameterHandlerBase.cpp
  Parameters/ParameterHandlerBase.h
Labels: MCMC, Nu Osc/Xsec

#459 breaking: Introdcue Tunes
  Parameters/CMakeLists.txt
  Parameters/ParameterHandlerBase.cpp
  Parameters/ParameterHandlerBase.h
  Parameters/ParameterHandlerGeneric.cpp
  Parameters/ParameterHandlerGeneric.h
  Parameters/ParameterTunes.cpp
  Parameters/ParameterTunes.h
  python/parameters.cpp
Labels: Nu Osc/Xsec

#463 bugfix: CodeQL
  .github/workflows/CodeQL.yml
Labels: CI/CD

#466 feat: Make Sure shared NuOscillator has same number of paramters
  Samples/FarDetectorCoreInfoStruct.h
  Samples/OscillationHandler.h
  Samples/SampleHandlerFD.cpp
Labels: Samples

#474 tidy: Minor update to logger message
  Samples/SampleHandlerFD.cpp
Labels: Tidy, Samples

#472 tidy: Do not allow adpation and PCA
  Parameters/ParameterHandlerBase.cpp
Labels: Nu Osc/Xsec

#471 tidy: Remove Code duplicates related to LLH scan
  .mailmap
  Fitters/FitterBase.cpp
  Fitters/FitterBase.h
  Fitters/StatisticalUtils.cpp
  Manager/Core.h
Labels: MCMC, Manager

#469 tidy: PSO and Minutit classes
  Fitters/LikelihoodFit.cpp
  Fitters/MinuitFit.cpp
  Fitters/MinuitFit.h
  Fitters/PSO.cpp
  Fitters/PSO.h
Labels: MCMC

#470 tidy: Check Norms can't go below 0
  Parameters/ParameterHandlerGeneric.cpp
  Parameters/ParameterHandlerGeneric.h
Labels: Nu Osc/Xsec

#473 tidy: PCA Handler reniaming and update
  Parameters/PCAHandler.cpp
  Parameters/PCAHandler.h
  Parameters/ParameterHandlerBase.cpp
  Parameters/ParameterHandlerGeneric.cpp
  Parameters/ParameterHandlerOsc.cpp
Labels: Nu Osc/Xsec

#475 bugfix: Make GetPostFitParamPlots app work again
  Plotting/GetPostfitParamPlots.cpp
Labels: Plotting

#478 bugfix: No more GPU compilation warnings
  CMakeLists.txt
  Manager/Core.h
  Splines/SplineMonolith.cpp
  cmake/Modules/CUDASetup.cmake
Labels: Nu Osc/Xsec, Manager, Cmake

#483 tidy: Move remaining PCA Variables
  Parameters/ParameterHandlerBase.cpp
  Parameters/ParameterHandlerBase.h
Labels: Nu Osc/Xsec

#477 bugfix: Improve Cachins Steps for Correlation calcautions
  Fitters/MCMCProcessor.cpp
Labels: MCMC

#486 tidy: Moving Helpers from CovBase to Utils
  Parameters/ParameterHandlerBase.cpp
  Parameters/ParameterHandlerBase.h
  Parameters/ParameterHandlerUtils.h
Labels: Nu Osc/Xsec

#480 feat: Expand usage of Param Group
  Parameters/ParameterHandlerBase.cpp
  Parameters/ParameterHandlerBase.h
  Parameters/ParameterHandlerGeneric.cpp
  Parameters/ParameterHandlerGeneric.h
Labels: Nu Osc/Xsec
