Repository mach3-software/MaCh3, pull requests merged in 2025-08, with the labels that each got.

#577 tidy: Step Number Sanitizer
  Fitters/FitterBase.h
  Fitters/PredictiveThrower.cpp
  Fitters/mcmc.cpp
Labels: MCMC

#580 tidy: Stop leaking in Plot Diag
  Diagnostics/PlotMCMCDiag.cpp
Labels: Plotting

#578 feat: Sample Info
  Samples/FarDetectorCoreInfoStruct.h
  Samples/SampleHandlerBase.h
  Samples/SampleHandlerFD.cpp
  Samples/SampleHandlerFD.h
Labels: Samples

#585 tidy: MCMC Processor Sanitizers
  Diagnostics/ProcessMCMC.cpp
  Fitters/MCMCProcessor.cpp
  Fitters/MCMCProcessor.h
Labels: Plotting, MCMC

#590 tidy: Improve Plotting param overlay
  Fitters/MCMCProcessor.cpp
Labels: MCMC

#583 bugfix: Store correct syst/sample likelihoods when saving steps in MCMC
  Fitters/mcmc.cpp
  Fitters/mcmc.h
Labels: MCMC

#596 feat: Update NuOscillator to v1.4.3
  cmake/Modules/NuOscillatorSetup.cmake
Labels: Cmake

#594 tidy: unify wheter step is UInt or Int
  Fitters/FitterBase.cpp
  Fitters/MCMCProcessor.cpp
  Fitters/MCMCProcessor.h
  Fitters/OscProcessor.cpp
  Fitters/PredictiveThrower.cpp
  Fitters/mcmc.cpp
Labels: MCMC

#591 tidy: Safer Plotting
  Diagnostics/GetPenaltyTerm.cpp
  Fitters/MCMCProcessor.cpp
  Manager/MaCh3Logger.h
  Manager/Monitor.cpp
  Manager/Monitor.h
  Plotting/GetPostfitParamPlots.cpp
  Plotting/plottingUtils/inputManager.cpp
  Plotting/plottingUtils/inputManager.h
  Plotting/plottingUtils/plottingManager.cpp
  Plotting/plottingUtils/plottingManager.h
  Plotting/plottingUtils/plottingUtils.cpp
  Plotting/plottingUtils/plottingUtils.h
  Plotting/plottingUtils/styleManager.cpp
  Plotting/plottingUtils/styleManager.h
Labels: Plotting, MCMC, Manager

#606 feat: delayed rejection implementation
  Doc/bibliography.bib
  Fitters/CMakeLists.txt
  Fitters/DelayedMR2T2.cpp
  Fitters/DelayedMR2T2.h
  Fitters/MCMCBase.cpp
  Fitters/MCMCBase.h
  Fitters/MCMCProcessor.cpp
  Fitters/MR2T2.cpp
  Fitters/MR2T2.h
  Fitters/MaCh3Factory.cpp
  Fitters/MaCh3Factory.h
  Fitters/mcmc.cpp
  Fitters/mcmc.h
  Parameters/ParameterHandlerBase.cpp
  Parameters/ParameterHandlerBase.h
  python/fitters.cpp
Labels: Documentation, MCMC, Nu Osc/Xsec
