Repository mach3-software/MaCh3, pull requests merged in 2025-03, with the labels that each got.

#378 feat: Turn on MO switching by default
  covariance/covarianceOsc.cpp
Labels: Nu Osc/Xsec

#379 feat: Set Burn-In from YAML file
  Diagnostics/ProcessMCMC.cpp
  mcmc/MCMCProcessor.cpp
Labels: Plotting, MCMC

#381 bugfix: Fix CircularPrior logic
  covariance/covarianceOsc.cpp
Labels: Nu Osc/Xsec

#384 feat: Override EqualBinning setting when not using binnedosc
  samplePDF/samplePDFFDBase.cpp
Labels: Samples

#374 breaking: det id fix
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  covariance/covarianceOsc.cpp
  covariance/covarianceOsc.h
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
  mcmc/FitterBase.cpp
  mcmc/MaCh3Factory.h
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: MCMC, Nu Osc/Xsec, Samples

#385 bugfix: fix the index of sample llh histograms
  mcmc/FitterBase.cpp
Labels: MCMC

#387 bugfix: Fix typo to make CUDA work properly
  CMakeLists.txt
Labels: Cmake

#388 feat: Faster Spline Loading
  splines/splineFDBase.cpp
Labels: Nu Osc/Xsec

#389 feat: LLH Cache hits
  CMakeLists.txt
  Doc/Doxyfile
  samplePDF/samplePDFFDBase.cpp
Labels: Documentation, Samples, Cmake

#390 feat: Bump NuOscillator
  cmake/Modules/NuOscillatorSetup.cmake
Labels: Cmake
