Repository mach3-software/MaCh3, pull requests merged in 2025-06, with the labels that each got.

#491 feat: Use break when doing bin fidning
  Samples/SampleHandlerFD.cpp
Labels: Samples

#488 feat: Parameter throwing in PCA
  Parameters/PCAHandler.cpp
  Parameters/PCAHandler.h
  Parameters/ParameterHandlerBase.cpp
Labels: Nu Osc/Xsec

#496 breaking: Before fit sanitiser
  Fitters/FitterBase.cpp
  Fitters/FitterBase.h
  Fitters/LikelihoodFit.cpp
  Fitters/LikelihoodFit.h
  Fitters/MinuitFit.cpp
  Fitters/PSO.cpp
  Fitters/mcmc.cpp
  Samples/SampleHandlerBase.h
  python/samples.cpp
Labels: MCMC, Samples

#499 tidy: Update Contributing
  .github/CONTRIBUTING.md
Labels: CI/CD

#500 bugfix: Fix Facory for more than 1D
  Fitters/MaCh3Factory.h
Labels: MCMC

#502 feat: Flexible Config getter from chain
  Diagnostics/GetPenaltyTerm.cpp
  Fitters/MCMCProcessor.cpp
  Fitters/MCMCProcessor.h
  Parameters/ParameterHandlerUtils.h
Labels: Plotting, MCMC, Nu Osc/Xsec

#510 tidy: Fitter Base updates
  Fitters/FitterBase.cpp
Labels: MCMC

#507 tidy: Ensure Circular Bounds are within Physic bounds
  Parameters/ParameterHandlerBase.cpp
Labels: Nu Osc/Xsec

#513 tidy: Bin Edeges no longer per event and add FindXBin
  Samples/FarDetectorCoreInfoStruct.h
  Samples/SampleHandlerFD.cpp
  Samples/SampleStructs.h
Labels: Samples

#509 feat: Port Jarlskog
  Diagnostics/ProcessMCMC.cpp
  Fitters/MCMCProcessor.cpp
  Fitters/MCMCProcessor.h
  Fitters/OscProcessor.cpp
  Fitters/OscProcessor.h
Labels: Plotting, MCMC

#517 feat: Check for bin ordering
  Samples/SampleHandlerFD.cpp
Labels: Samples

#520 feat: LogL calculations for low MC predictinos and 0 MC predictions limits, GetTestStatLLH optimization
  Manager/Core.h
  Samples/SampleHandlerBase.cpp
  Samples/SampleHandlerBase.h
Labels: Samples, Manager
