Repository mach3-software/MaCh3, pull requests merged in 2025-01, with the labels that each got.

#263 tidy: Make Structs actual Structs
  manager/CMakeLists.txt
  mcmc/MCMCProcessor.h
  mcmc/StatisticalUtils.h
  samplePDF/CMakeLists.txt
  samplePDF/HistogramUtils.cpp
  samplePDF/HistogramUtils.h
  samplePDF/Structs.h
  samplePDF/samplePDFBase.h
Labels: MCMC, Samples, Manager

#264 feat: Add hist CI
  .github/workflows/CIValidations.yml
Labels: CI/CD

#269 feat: Continous Benchmarking
  .github/workflows/Benchmark.yml
  README.md
Labels: CI/CD

#266 tidy: New TH2Poly function and more authros
  Doc/Doxyfile
  cmake/Templates/Doxyfile.in
  covariance/covarianceBase.h
  covariance/covarianceOsc.h
  manager/MaCh3Logger.h
  manager/Monitor.h
  manager/YamlHelper.h
  python/pyMaCh3.cpp
  python/splines.cpp
  samplePDF/HistogramUtils.cpp
  samplePDF/HistogramUtils.h
  samplePDF/Structs.h
  splines/SplineCommon.h
  splines/SplineStructs.h
Labels: Documentation, Nu Osc/Xsec, Samples, Manager, Cmake

#259 feat: Yaml failing gracefully
  covariance/covarianceBase.cpp
  covariance/covarianceXsec.cpp
  manager/YamlHelper.h
  manager/manager.cpp
Labels: Nu Osc/Xsec, Manager

#262 feat: Param Group to MCMC Processor
  mcmc/MCMCProcessor.cpp
  mcmc/MCMCProcessor.h
Labels: MCMC

#271 feat: Diag MCMC Plotting
  .github/workflows/CIValidations.yml
  Diagnostics/CMakeLists.txt
  Diagnostics/Diagnostics_utils/PlotAutoCorrelations.C
  Diagnostics/Diagnostics_utils/PlotMCMC_Diagnosis.cpp
  Diagnostics/PlotMCMCDiag.cpp
  Diagnostics/ProcessMCMC.cpp
  Doc/Doxyfile
  cmake/Templates/Doxyfile.in
Labels: Documentation, Plotting, CI/CD, Cmake

#270 bugfix: fix compilation with logger turned off
  cmake/Modules/Logger.cmake
Labels: Cmake

#273 breaking: Less stinky Cov Osc
  Diagnostics/README.md
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  covariance/covarianceOsc.cpp
  covariance/covarianceOsc.h
  covariance/covarianceXsec.h
  python/covariance.cpp
Labels: Plotting, Nu Osc/Xsec

#261 feat: ROOT dictionary for some of spline related classes
  splines/CMakeLists.txt
Labels: Nu Osc/Xsec

#277 bugfix: linking splines on ubuntu
  samplePDF/CMakeLists.txt
  splines/CMakeLists.txt
Labels: Nu Osc/Xsec, Samples

#278 bugfix: quick patches
  splines/SplineMonolith.cpp
  splines/SplineStructs.h
Labels: Nu Osc/Xsec

#275 tidy: More logger to binned splines
  splines/splineFDBase.cpp
Labels: Nu Osc/Xsec

#276 feat: Telemetry
  .github/CIscripts/RAM.sh
  .github/workflows/Telemetry.yml
Labels: Nu Osc/Xsec, CI/CD

#272 tidy: NuOsc fancy logger
  samplePDF/samplePDFFDBase.cpp
Labels: Samples

#280 bugfix: spline binning printing and TMatrixD reading
  covariance/covarianceBase.cpp
  splines/splineFDBase.cpp
Labels: Nu Osc/Xsec

#284 Feat: Bump NuOscillator to v1.1.0
  cmake/Modules/NuOscillatorSetup.cmake
Labels: Cmake

#287 Tidy: safer logger
  manager/MaCh3Logger.h
Labels: Manager

#288 bugfix: Add missing unistd.h include for newer ROOT versions
  Diagnostics/CombineMaCh3Chains.cpp
Labels: Plotting

#292 breaking: Alter treamtent of getting weight from func pars
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: Samples

#293 bugfix: Print output from MaCh3Logger fancy logging function if error is thrown
  cmake/Modules/NuOscillatorSetup.cmake
  manager/MaCh3Logger.h
Labels: Manager, Cmake

#291 tidy: Make Statistical utils actual library
  CMakeLists.txt
  Doc/Doxyfile
  README.md
  mcmc/CMakeLists.txt
  mcmc/SampleSummary.cpp
  mcmc/SampleSummary.h
  mcmc/StatisticalUtils.cpp
  mcmc/StatisticalUtils.h
  samplePDF/HistogramUtils.cpp
  samplePDF/HistogramUtils.h
Labels: Documentation, MCMC, Samples, Cmake

#290 feat: Manager Factory
  manager/Monitor.cpp
  mcmc/MaCh3Factory.cpp
  mcmc/MaCh3Factory.h
Labels: MCMC, Manager

#295 feat: Statistial utist test
  .github/workflows/CIValidations.yml
Labels: CI/CD

#298 breaking: Temporary turn off python CI
  .github/workflows/CIPythonValidations.yml
Labels: CI/CD

#300 bugfix: Remove a reference to TLorentzVector
  samplePDF/HistogramUtils.h
Labels: Bug Fix

#297 bugfix: Safeguard FFT
  cmake/Modules/MaCh3Dependencies.cmake
  mcmc/MCMCProcessor.cpp
Labels: MCMC, Cmake

#294 bugfix: Correctly read Signal FDMC variable from config
  samplePDF/FarDetectorCoreInfoStruct.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: Samples, Manager, Cmake

#289 tidy: Smarter getting Norm bin
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.cpp
Labels: Samples

#279 breaking: Improve Det Id tremtent
  CMakeLists.txt
  Doc/Doxyfile
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  covariance/covarianceOsc.cpp
  covariance/covarianceOsc.h
  covariance/covarianceXsec.cpp
  covariance/covarianceXsec.h
  samplePDF/FarDetectorCoreInfoStruct.h
  samplePDF/Structs.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: Documentation, Nu Osc/Xsec, Samples, Cmake

#303 bugfix: Move throw to within expected if statement in splineFDBase dimension checking
  samplePDF/samplePDFFDBase.cpp
  splines/splineFDBase.cpp
Labels: Nu Osc/Xsec, Samples

#305 feat: Improve spline printouts and remove redundancies
  samplePDF/samplePDFFDBase.cpp
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: Nu Osc/Xsec, Samples

#308 tidy: Update python path include
  cmake/Templates/setup.MaCh3.sh.in
Labels: Cmake

#309 tidy: Generalise 2D pvalue code
  mcmc/SampleSummary.cpp
  mcmc/SampleSummary.h
  mcmc/StatisticalUtils.cpp
  mcmc/StatisticalUtils.h
Labels: MCMC

#311 tidy: is event selected
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: Samples

#313 tidy: More infor about threads
  covariance/CovarianceUtils.h
  manager/Monitor.cpp
  manager/Monitor.h
  manager/manager.cpp
  mcmc/FitterBase.cpp
Labels: MCMC, Nu Osc/Xsec, Manager

#318 feat: Longer Running Telemetry Bot
  .github/CIscripts/RAM.sh
Labels: CI/CD
