Repository mach3-software/MaCh3, pull requests merged in 2025-02, with the labels that each got.

#315 tidy: Janitorial work for SplineFD
  manager/Core.h
  samplePDF/Structs.h
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: Nu Osc/Xsec, Samples, Manager

#320 Bugfix: chain restart fix
  mcmc/FitterBase.cpp
  mcmc/FitterBase.h
  mcmc/mcmc.cpp
  mcmc/mcmc.h
Labels: MCMC

#323 feat: Chain restart fix
  mcmc/FitterBase.cpp
  mcmc/FitterBase.h
  mcmc/mcmc.cpp
  mcmc/mcmc.h
Labels: MCMC

#326 tidy: Simplify sourcing external repo
  cmake/Modules/mach3-config.cmake
  cmake/Templates/setup.MaCh3.sh.in
Labels: Cmake

#327 tidy: safer Fitter Base
  mcmc/FitterBase.cpp
  mcmc/FitterBase.h
Labels: MCMC

#321 tidy: Move Spline Eval Away from parraler region
  samplePDF/samplePDFFDBase.cpp
Labels: Samples

#314 breaking: Map for kinematic param and string
  python/samplePDF.cpp
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: Samples

#331 feat: Bump NuOscillator to v1.2.0
  cmake/Modules/NuOscillatorSetup.cmake
Labels: Cmake

#332 tidy: Update CIPythonValidations.yml
  .github/workflows/CIPythonValidations.yml
Labels: CI/CD

#328 tidy: Reorganisation of PCA Handler
  covariance/PCAHandler.cpp
  covariance/PCAHandler.h
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  covariance/covarianceXsec.cpp
  manager/Monitor.cpp
  manager/Monitor.h
Labels: Nu Osc/Xsec, Manager

#330 tidy: Proper descturctors for spline related classes
  covariance/covarianceBase.cpp
  covariance/covarianceBase.h
  manager/Core.h
  splines/SplineBase.cpp
  splines/SplineBase.h
  splines/SplineMonolith.cpp
  splines/SplineMonolith.h
  splines/SplineStructs.h
  splines/splineFDBase.cpp
Labels: Nu Osc/Xsec, Manager

#333 feat: Allow compilation wiht native flag
  .github/workflows/CIBuild.yml
  CMakeLists.txt
  README.md
  cmake/Modules/CUDASamples.cmake
  cmake/Modules/CUDASetup.cmake
  cmake/Modules/MaCh3Dependencies.cmake
  cmake/Modules/NuOscillatorSetup.cmake
  cmake/Modules/mach3-config.cmake
  cmake/Templates/mach3-config.in
Labels: CI/CD, Cmake

#334 Breaking: Move common values under namespace
  covariance/covarianceBase.cpp
  manager/Core.h
  mcmc/FitterBase.cpp
  mcmc/mcmc.cpp
  plotting/plottingUtils/inputManager.cpp
  plotting/plottingUtils/inputManager.h
  samplePDF/Structs.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: Plotting, MCMC, Nu Osc/Xsec, Samples, Manager

#335 feat: Crackpot speedup
  covariance/covarianceBase.cpp
  splines/SplineMonolith.cpp
  splines/gpuSplineUtils.cu
Labels: Nu Osc/Xsec, GPU

#341 bugfix: Stop seeing CUDALinear on GPU problem
  cmake/Modules/NuOscillatorSetup.cmake
Labels: Cmake

#339 feat: First Version of Osc Processor
  mcmc/CMakeLists.txt
  mcmc/MCMCProcessor.cpp
  mcmc/MCMCProcessor.h
  mcmc/OscProcessor.cpp
  mcmc/OscProcessor.h
Labels: MCMC

#340 feat: Initial support for clang
  CMakeLists.txt
  manager/Core.h
  manager/YamlHelper.h
Labels: Manager, Cmake

#343 bugfix: delete -> delete [] for isflatarray
  splines/splineFDBase.cpp
Labels: Nu Osc/Xsec

#345 feat: Move all SK functionality into core
  manager/MaCh3Modes.cpp
  manager/MaCh3Modes.h
  manager/manager.cpp
  manager/manager.h
  mcmc/FitterBase.cpp
  mcmc/FitterBase.h
  samplePDF/FarDetectorCoreInfoStruct.h
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
Labels: MCMC, CI/CD, Samples, Manager

#348 feat: Add cmake option to be able to pass which NuOsc branch to build against
  cmake/Modules/NuOscillatorSetup.cmake
Labels: Cmake

#337 feat: Unify find spline segment
  CMakeLists.txt
  python/splines.cpp
  samplePDF/samplePDFFDBase.cpp
  splines/SplineBase.cpp
  splines/SplineBase.h
  splines/SplineMonolith.cpp
  splines/SplineMonolith.h
  splines/SplineStructs.h
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: Documentation, Nu Osc/Xsec, Samples, Cmake

#349 tidy: More scalable test statisctic selection
  manager/manager.cpp
  mcmc/StatisticalUtils.cpp
  python/samplePDF.cpp
  samplePDF/Structs.h
  samplePDF/samplePDFBase.cpp
Labels: MCMC, Samples, Manager

#352 feat: Bump to NuOsc v1.2.1
  README.md
  cmake/Modules/NuOscillatorSetup.cmake
Labels: Cmake

#351 feat: Clang bot
  .github/workflows/CIBuild.yml
  Doc/MaCh3DockerFiles/Ubuntu24.10/Dockerfile
  README.md
Labels: Documentation, CI/CD

#353 bugfix: Fix destructor of THStackLeg
  samplePDF/samplePDFFDBase.cpp
Labels: Samples

#346 feat: Special param bounds in LLHScan settings
  mcmc/FitterBase.cpp
Labels: Enhancement, MCMC, CI/CD, dependencies

#356 feat: Add SplineSuffix to MaCh3Modes object
  manager/MaCh3Modes.cpp
  manager/MaCh3Modes.h
Labels: Manager

#357 feat: Move StripDuplicatedSplines and GetEventSplines to splineFDBase
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: Nu Osc/Xsec

#358 tidy: Tweak to MaCh3 mode
  covariance/covarianceBase.cpp
  manager/MaCh3Modes.cpp
  manager/MaCh3Modes.h
Labels: Nu Osc/Xsec, Manager

#359 feat: Move FillSampleArray to splineFDBase
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: Nu Osc/Xsec

#355 tidy: Remove parts of terrible loops in SplineFD
  samplePDF/samplePDFFDBase.cpp
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: Nu Osc/Xsec, Samples

#360 bugfix: Fix check on MaCh3Modes in splineFDBase constructor
  splines/splineFDBase.cpp
Labels: Nu Osc/Xsec

#361 Tidy: Post SplineFD cleanup tidy
  CMakeLists.txt
  Doc/Doxyfile
  samplePDF/Structs.h
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: Documentation, Nu Osc/Xsec, Samples, Cmake

#362 feat: Add counter for CC modes in MaCh3Modes object
  manager/MaCh3Modes.cpp
  manager/MaCh3Modes.h
Labels: Manager

#364 feat: Add protection against duplicate splines in splineFDBase
  splines/splineFDBase.cpp
Labels: Nu Osc/Xsec

#365 feat: Quicker duplicate spline checking
  splines/splineFDBase.cpp
  splines/splineFDBase.h
Labels: Nu Osc/Xsec

#366 bugfix: Include support for 1D samples in samplePDFFDBase::PrintIntegral
  samplePDF/samplePDFFDBase.cpp
Labels: Samples

#367 feat: Add to CI new plotting tool in tutorial
  .github/workflows/CIValidations.yml
Labels: CI/CD

#369 feat: Improve Vector Casting
  samplePDF/HistogramUtils.h
  samplePDF/samplePDFBase.cpp
  samplePDF/samplePDFBase.h
  samplePDF/samplePDFFDBase.cpp
  samplePDF/samplePDFFDBase.h
  splines/splineFDBase.h
Labels: Nu Osc/Xsec, Samples

#370 feat: Sigma Var Bot
  .github/workflows/CIValidations.yml
  CMakeLists.txt
  Doc/Doxyfile
  mcmc/FitterBase.cpp
Labels: Documentation, MCMC, CI/CD, Cmake

#371 bugfix: LLHScanSkipVector yaml node group inside sigma variation function
  mcmc/FitterBase.cpp
Labels: MCMC

#372 feat: Stop the spammy message for additional splines
  cmake/Modules/NuOscillatorSetup.cmake
  splines/splineFDBase.cpp
Labels: Nu Osc/Xsec, Cmake

#375 bugfix: Correctly handle duplicate modes in GetEventSplines
  CMakeLists.txt
  splines/splineFDBase.cpp
Labels: Nu Osc/Xsec, Cmake
